<div class="aa-footer">
    <a class="aa-footer-link" href="/search?q=[[ query ]]">
    [[ translations.allProducts ]]
    [[ translations.matching ]]
    <span class="aa-query">
      "[[ query ]]"
    </span>
    (<span class="aa-nbhits">[[# helpers.formatNumber ]][[ nbHits ]][[/ helpers.formatNumber ]]</span>)
  </a>
</div>
