[[# hasNoResults ]]
    [[# helpers.translation ]]noResultFound[[/ helpers.translation ]]
[[/ hasNoResults ]]

[[# hasOneResult ]]
  <span class="ais-stats--nb-results">
    [[# helpers.translation ]]oneResultFound[[/ helpers.translation ]]
  </span>
[[/ hasOneResult ]]

[[# hasManyResults ]]
  [[ helpers.outOf ]]
  <span class="ais-stats--nb-results">
    [[# helpers.formatNumber ]][[ nbHits ]][[/ helpers.formatNumber ]]
    [[# helpers.translation ]]resultsFound[[/ helpers.translation ]]
  </span>
[[/ hasManyResults ]]

[[ helpers.in ]]
