<!-- Shown on Mobile Only -->

<ul class="tw-list-none tw-flex tw-items-center">
  {% if settings.show_multiple_currencies %}
  <li>{% render 'currencies-switcher' %}</li>
  {% endif %}
  <li class="seeks tw-px-2 tw-hidden">
    <a
      class="js-search-trigger js-search-mobile-trigger"
      href="#"
      id="search_trigger"
    >
      <i aria-hidden="true" class="icon icon-search"></i>
    </a>
  </li>

  <li>
    <a
      href="{{ routes.cart_url }}"
      class="site-header__cart-toggle js-drawer-open-right tw-relative tw-flex tw-items-center"
      aria-controls="CartDrawer"
      aria-expanded="false"
    >
      <span class="cart-words">{{ "cart.general.title" | t }}</span>
      <i aria-hidden="true" class="icon icon-cart"></i>
      <span
        class="CartCount tw-absolute tw-top-0 tw-leading-loose tw-right-0 tw-badge tw-badge-xs tw-h-[1.2em] tw-transform tw-translate-x-1/2 tw--translate-y-1/3 empty:tw-hidden"
      >
        {%- if cart.item_count > 0 -%}
        {{ cart.item_count }}
        {%- endif -%}
      </span>
    </a>
  </li>
</ul>
