{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_DE-christmas-sale">
			<!-- START Beat The Christmas Rush REVOLUTION SLIDER 6.5.6.16 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_60_1_wrapper" data-source="gallery" style="visibility:hidden;background:#ffffff;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="rev_slider_60_1" style="" data-version="6.5.6.16">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-90" data-title="Slide" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de1206-bg.jpg" class="rev-slidebg tp-rs-img rs-lazyload" data-parallax="3" data-no-retina>
<!--
							--><rs-layer
								id="slider-60-slide-90-layer-0" 
								data-type="text"
								data-color="#000000"
								data-rsp_ch="on"
								data-xy="x:c;xo:360px,360px,360px,0;y:m,m,m,t;yo:-12px,-12px,-12px,135px;"
								data-text="w:nowrap,nowrap,nowrap,normal;s:29,29,29,18;l:40,40,40,18;ls:3px,3px,3px,1px;a:center;"
								data-frame_0="x:0,0,0,0px;y:0,0,0,0px;o:1;"
								data-frame_1="x:0,0,0,0px;y:0,0,0,0px;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:13;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>Order now for delivery before the big day 
							</rs-layer><!--

							--><rs-layer
								id="slider-60-slide-90-layer-1" 
								data-type="text"
								data-color="#cf0000"
								data-rsp_ch="on"
								data-xy="x:c;xo:450px,450px,450px,0;yo:150px,150px,150px,56px;"
								data-text="w:nowrap,nowrap,nowrap,normal;s:32,32,32,20;c:both;l:32,32,32,20;ls:3px,3px,3px,2px;fw:600;a:center;"
								data-flcr="c:both;"
								data-vbility="f,f,f,f"
								data-padding="r:3;b:3,3,3,2;l:3;"
								data-border="bos:dotted;boc:#ea2a73;bow:0,0,2px,0;"
								data-frame_0="y:-50,-50,-50,-11;"
								data-frame_1="st:500;sp:600;"
								data-frame_999="st:w;sR:5900;"
								style="z-index:15;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>24 HOURS EXTENDED 
							</rs-layer><!--

							--><rs-layer
								id="slider-60-slide-90-layer-16" 
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:c;xo:360px,360px,360px,-1px;y:m,m,m,b;yo:170px,170px,170px,356px;"
								data-text="s:20,20,20,4;l:25,25,25,7;a:left,left,left,center;"
								data-dim="w:420px,420px,420px,275px;h:76px,76px,76px,auto;"
								data-blendmode="darken"
								data-frame_0="sX:0.9;sY:0.9;"
								data-frame_1="e:power2.inOut;sp:500;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:11;font-family:'Roboto';"
							><img src="https://img1.niftyimages.com/f3r/xx5r/f3lr" width="100%" height="100%"> 
							</rs-layer><!--

							--><rs-layer
								id="slider-60-slide-90-layer-17" 
								data-type="text"
								data-color="#113f54"
								data-rsp_ch="on"
								data-xy="x:c;xo:360px,360px,360px,0;y:m,m,m,t;yo:-130px,-130px,-130px,20px;"
								data-text="w:nowrap,nowrap,nowrap,normal;s:90,90,90,53;l:90,90,90,53;ls:2px,2px,2px,1px;fw:900;a:center;"
								data-frame_0="x:0,0,0,0px;y:0,0,0,0px;o:1;"
								data-frame_1="x:0,0,0,0px;y:0,0,0,0px;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:14;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>Beat the<br />Christmas rush 
							</rs-layer><!--

							--><rs-layer
								id="slider-60-slide-90-layer-18" 
								data-type="text"
								data-color="#000000"
								data-rsp_ch="on"
								data-xy="x:c;xo:360px,360px,360px,0;y:m,m,m,t;yo:68px,68px,68px,164px;"
								data-text="w:nowrap,nowrap,nowrap,normal;s:40,40,40,24;l:40,40,40,24;ls:3px,3px,3px,2px;a:center;"
								data-frame_0="x:0,0,0,0px;y:0,0,0,0px;o:1;"
								data-frame_1="x:0,0,0,0px;y:0,0,0,0px;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:12;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>Save Up To 70% Off 
							</rs-layer><!--

							--><rs-layer
								id="slider-60-slide-90-layer-19" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:-3000px,-3000px,-3000px,0;yo:50px,50px,50px,0;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:['480px','480px','480px','480px'];h:['600px','600px','600px','600px'];"
								data-vbility="f,f,f,t"
								data-basealign="slide"
								data-frame_999="o:0;st:w;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de1206-mobile-bg.jpg" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-60-slide-90-layer-20" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:215px,215px,215px,-20px;y:m,m,m,b;yo:0,0,0,5px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:512px,512px,512px,275px;h:652px,652px,652px,350px;"
								data-frame_999="o:0;st:w;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de1206-xmas-tree.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-60-slide-90-layer-21" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;y:m,m,m,t;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:['100%','100%','100%','100%'];h:['100%','100%','100%','100%'];"
								data-vbility="t,t,t,f"
								data-basealign="slide"
								data-frame_999="o:0;st:w;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de21206-bg.jpg" data-c="cover-proportional" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
					<rs-static-layers><!--
					--></rs-static-layers>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: 'rev_slider_60_1',rl:[1240,1240,1240,480],el:[720,720,720,600],gw:[1920,1920,1920,480],gh:[720,720,720,600],type:'hero',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider601"]!==undefined) {window.RS_MODULES.modules["revslider601"].once = false;window.revapi60 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://cdn.shopify.com/s/files/1/0641/1354/1347/t/5/assets/font.css" rel="stylesheet" property="stylesheet" media="all" type="text/css" >
<link href="https://fonts.googleapis.com/css?family=DIN+Next+LT+W04+Medium:400%2C600%2C900%7CRoboto:400" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">#rs-demo-id {}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi60;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider601"] = {init:function() {
			window.revapi60 = window.revapi60===undefined || window.revapi60===null || window.revapi60.length===0  ? document.getElementById("rev_slider_60_1") : window.revapi60;
			if(window.revapi60 === null || window.revapi60 === undefined || window.revapi60.length==0) { window.revapi60initTry = window.revapi60initTry ===undefined ? 0 : window.revapi60initTry+1; if (window.revapi60initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider601"].init()}); return;}
			window.revapi60 = jQuery(window.revapi60);
			if(window.revapi60.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_60_1"); return;}
			revapi60.revolutionInit({
					revapi:"revapi60",
					sliderType:"hero",
					DPR:"dpr",
					sliderLayout:"fullwidth",
					visibilityLevels:"1240,1240,1240,480",
					visibilityLevelsKey:"6261614fea8a3",
					gridwidth:"1920,1920,1920,480",
					gridheight:"720,720,720,600",
					lazyType:"smart",
					perspective:600,
					perspectiveType:"local",
					editorheight:"720,768,960,600",
					responsiveLevels:"1240,1240,1240,480",
					progressBar:{disableProgressBar:true},
					navigation: {
						onHoverStop:false
					},
					parallax: {
						levels:[5,10,15,20,25,30,35,40,45,46,47,48,49,50,51,55],
						type:"mouse"
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
							/* STATIC SNOW FLAKE CONTAINER SETTINGS */
/* PLEASE NOTE! YOU WILL NEED TO ADD AT LEAST 1 STATIC LAYER (EVEN A TRANSPARENT IF YOU WISH) TO USE THE SCRIPT BELOW ON STATIC LAYERS*/


var snowsettings = {   
    selector:'rs-static-layers',  /* THE INNER CONTAINER WHERE FLAKES SHOULD BE DRAWN (OPTIONAL)*/
    dimension:'self',   /* THE RUNTIME DIMENSIONS OF THE CONTAINER */
  particleMaxPer:400,   /* MAX PARTICLE PER 1.5M PIXEL */ 
    particlaSize:[0.2,6], /* MIN, MAX SIZE OF PARTICLE */
    particleOpacity:[0.3,1],/* MIN, MAX OPACITY OF PARTICLE */
    particleSpeed:[30,100], /* MIN, MAX SPEED OF PARTICLES */
    particleSinus:[1,100] /* MIN, MAX AMPLITUDE OF PARTICLE ANIM*/
  };


revapi60.bind("revolution.slide.onloaded",function (e) {
  revapi60.letItSnow(snowsettings);  
});








/* THEMEPUNCH CANVAS SNOW PLUGIN 
   ALL RIGHTS RESERVED, 
   SNOW PLUGIN CAN ONLY BE USED WITHIN SLIDER REVOLUTION AND THEMEPUNCH PLUGINS
   THEMEPUNCH SNOW FLAKE MINI PLUGIN 

   USAGE: 
   To Build Snow: container.letItSnow(settings);  
   To stop Snow: container.letItSnow("stop");
   To start play Snow again: container.letItSnow("play");
   To destroy Snow : container.letItSnow("destroy");
   To make Summer: container.letItSnow("summer");
   To make Winter Again: container.letItSnow("winter");

  Settings:

  selector:'rs-static-layers' ON WHICH CONTAINER WITHIN THE CONTAINER CANVAS SHOULD BE DRAWN 
  dimension:'self'             THE RUNTIME DIMENSIONS OF THE CONTAINER 
  particleMaxPer:400           MAX PARTICLE PER 1.5M PIXEL  
  particlaSize:[0.2,6]         MIN, MAX SIZE OF PARTICLE 
  particleOpacity:[0.3,1]      MIN, MAX OPACITY OF PARTICLE 
  particleSpeed:[30,100]       MIN, MAX SPEED OF PARTICLES 
  particleSinus:[1,100]        MIN, MAX AMPLITUDE OF PARTICLE (SINUS DIRECTION FOR BETTER EFFECT 

*/


var snowsettings={selector:"rs-static-layers",dimension:"self",particleMaxPer:400,particlaSize:[.2,6],particleOpacity:[.3,1],particleSpeed:[30,100],particleSinus:[1,100]};revapi60.bind("revolution.slide.onloaded",function(e){revapi60.letItSnow(snowsettings)}),function(e,s){"use strict";function a(e){e.pause=!0,e.sc.find(".snowflakes_wrapper").remove(),e.c.removeData("snowflakes"),e={}}function n(e){e.snowflakes=[];for(var s=e.w*e.h/15e5;e.snowflakes.length<e.particleMaxPer*s;)e.snowflakes.push(i(e))}function t(e){window.requestAnimationFrame(function(){r(e)})}function r(e){if(e==s||e.ctx==s||1==e.destroyed||1==e.pause)return!1;e.ctx.clearRect(0,0,2700,2500);var a=e.h/3,n=e.h/3*2;for(var r in e.snowflakes)if(e.snowflakes[r].y+.1*e.snowflakes[r].r<0&&1==e.summer||e.snowflakes[r].y>e.h+e.snowflakes[r].r&&1==e.summer);else{e.snowflakes[r].delta+=e.snowflakes[r].delta==Math.PI/2?-e.snowflakes[r].delta:Math.random()/500-.01,e.summer?e.snowflakes[r].y+=e.snowflakes[r].speed/50+.1*e.snowflakes[r].r:e.snowflakes[r].y+=e.snowflakes[r].speed/100+.1*e.snowflakes[r].r,e.snowflakes[r].x+=Math.sin(e.snowflakes[r].delta)*(.1*e.snowflakes[r].r),e.snowflakes[r].y>e.h+e.snowflakes[r].r&&1!=e.summer&&(e.snowflakes[r]=i(e),e.snowflakes[r].y=0-e.snowflakes[r].r);var l=e.snowflakes[r].y-a,o=e.snowflakes[r].r,c=e.snowflakes[r].alpha;if(l>0||1==e.summer){var w=1-l/n;o=e.snowflakes[r].r*w,c=e.snowflakes[r].alpha*w}o=.1>o?.1:o,c=.1>c?.1:c,e.snowflakes[r].x=e.snowflakes[r].x>e.w+e.snowflakes[r].r?0:e.snowflakes[r].x<-o?e.w:e.snowflakes[r].x,e.ctx.beginPath(),e.ctx.arc(e.snowflakes[r].x,e.snowflakes[r].y,o,2*Math.PI,!1),e.ctx.fillStyle="rgba(255,255,255,"+c+")",e.ctx.fill()}t(e)}function i(e){var s=new Object;return s.delta=(e.particleSinus[0]+Math.random()*(e.particleSinus[1]-e.particleSinus[0]))*Math.round(2*Math.random()-1),s.r=e.particlaSize[0]+Math.random()*(e.particlaSize[1]-e.particlaSize[0]),s.alpha=e.particleOpacity[0]+Math.random()*(e.particleOpacity[1]-e.particleOpacity[0]),s.speed=(e.particleSpeed[0]+Math.random()*(e.particleSpeed[1]-e.particleSpeed[0]))*s.r/3,s.x=Math.random()*e.w,s.y=Math.random()*-e.h,s}e.fn.extend({letItSnow:function(r){var i={particleMaxPer:400,particlaSize:[.2,6],particleOpacity:[.3,1],particleSpeed:[30,100],particleSinus:[1,100]};return"destroy"!=r&&"stop"!=r&&"play"!=r&&"summer"!=r&&"winter"!=r&&(r=e.extend(!0,{},i,r)),this.each(function(){if(-1!=e.inArray(r,["destroy","stop","play","winter","summer"])){switch(r){case"destroy":r=e(this).data("snowflakes"),r!=s&&a(r);break;case"stop":r=e(this).data("snowflakes"),r!=s&&(r.pause=!0);break;case"play":r=e(this).data("snowflakes"),r!=s&&(r.pause=!1,t(r));break;case"summer":r=e(this).data("snowflakes"),r!=s&&(r.summer=!0);break;case"winter":r=e(this).data("snowflakes"),r!=s&&(r.summer=!1)}return!1}return r.c=e(this),r.sc=r.selector!=s?e(this).find(r.selector):r.c,0==r.sc.length?!1:r.c.data("snowflakes")!=s?!1:(r.sc.find(".snowflakes_wrapper").remove(),r.sc.append('<div class="snowflakes_wrapper" style="position:relative;z-index:0"><div class="snowflakes_wrapper_inner" style="overflow:hidden;position:relative"><canvas width="2700" height="2500" style="position:relative;" class="snowflake_canvas"></canvas></div></div>'),r.sw=r.sc.find(".snowflakes_wrapper_inner"),r.sw.data("caller_container",r.c),r.canvas=r.sc.find(".snowflake_canvas"),r.dimension!=self?r.sizer=r.c:r.sizer=r.sc,r.w=r.sizer.width(),r.h=r.sizer.height(),r.sc.find(".snowflakes_wrapper_inner").css({width:r.w,height:r.h}),r.canvas=r.canvas[0],r.snowflakes=[],r.ctx=r.canvas.getContext("2d"),n(r),t(r),r.c.data("snowflakes",r),void e(window).resize(function(){clearTimeout(r.timer),r.timer=setTimeout(function(){r.w=r.sizer.width(),r.h=r.sizer.height(),r.sc.find(".snowflakes_wrapper_inner").css({width:r.w,height:r.h}),n(r)},50)}))})}})}(jQuery);
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_DE-christmas-sale" ).after( "<div id='revslider_show_DE-christmas-sale'></div>" );
                            jQuery( "#revslider_drag_DE-christmas-sale" ).hide();
                            jQuery("#revslider_foot_DE-christmas-sale").appendTo("#revslider_show_DE-christmas-sale");
                            jQuery("#revslider_show_DE-christmas-sale .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>