{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_great-ideas-1">
			<!-- START Season Sale REVOLUTION SLIDER 6.5.6.14 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="20_wrapper" data-source="gallery" style="visibility:hidden;background:rgba(236,231,228,0);padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="20" style="" data-version="6.5.6.14">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-43" data-title="Slide 1" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de0726-bg.jpg" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="p:left center;" data-no-retina>
<!--
							--><rs-layer
								id="slider-27-slide-43-layer-0" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:r,r,r,c;xo:-915px,-915px,-915px,0;y:m,m,m,b;yo:80px,80px,80px,0;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:1901px,1901px,1901px,850px;h:533px,533px,533px,238px;"
								data-frame_0="x:50,50,50,11;"
								data-frame_1="st:300;sp:1000;"
								data-frame_999="o:0;st:w;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de0726-camaleonda.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-27-slide-43-layer-1" 
								data-type="text"
								data-color="#000000"
								data-rsp_ch="on"
								data-xy="x:c;xo:-520px,-520px,-520px,0;y:m,m,m,t;yo:-107px,-107px,-107px,125px;"
								data-text="w:nowrap,nowrap,nowrap,normal;s:36,36,36,26;l:36,36,36,26;ls:1px;a:center;"
								data-frame_0="x:0,0,0,0px;y:0,0,0,0px;o:1;"
								data-frame_1="x:0,0,0,0px;y:0,0,0,0px;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:13;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>Classic Furniture and Lighting 
							</rs-layer><!--

							--><rs-layer
								id="slider-27-slide-43-layer-2" 
								data-type="text"
								data-color="#db3200||#db3200||#db3200||#ea2a73"
								data-rsp_ch="on"
								data-xy="x:c;xo:-520px,-520px,-520px,0;yo:75px,75px,75px,20px;"
								data-text="w:nowrap,nowrap,nowrap,normal;s:32,32,32,20;c:both;l:32,32,32,20;ls:3px,3px,3px,2px;fw:600;a:center;"
								data-flcr="c:both;"
								data-padding="r:3;b:3,3,3,2;l:3;"
								data-border="bos:dotted;boc:#ea2a73;bow:0,0,2px,0;"
								data-frame_0="y:-50,-50,-50,-11;"
								data-frame_1="st:500;sp:600;"
								data-frame_999="st:w;sR:5900;"
								style="z-index:15;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>24 HOURS EXTENDED 
							</rs-layer><!--

							--><rs-layer
								id="slider-27-slide-43-layer-12" 
								data-type="text"
								data-color="#000000"
								data-rsp_ch="on"
								data-xy="x:r;xo:1618px,1618px,1618px,325px;y:m;yo:10px,10px,10px,-86px;"
								data-text="s:30,30,30,25;l:30;fw:400,400,400,500;a:right,right,right,center;"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:12;font-family:'DIN Next LT Arabic Regular';text-transform:uppercase;"
							>Up to 
							</rs-layer><!--

							--><rs-layer
								id="slider-27-slide-43-layer-13" 
								data-type="text"
								data-color="#000000"
								data-rsp_ch="on"
								data-xy="xo:580px,580px,580px,325px;y:m;yo:10px,10px,10px,-86px;"
								data-text="s:30,30,30,25;l:30;fw:400,400,400,500;"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:10;font-family:'DIN Next LT Arabic Regular';text-transform:uppercase;"
							>% off 
							</rs-layer><!--

							--><rs-layer
								id="slider-27-slide-43-layer-14" 
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:c;xo:-523px,-523px,-523px,0;y:m,m,m,b;yo:170px,170px,170px,254px;"
								data-text="s:20,20,20,4;l:25,25,25,7;a:left,left,left,center;"
								data-dim="w:424px,424px,424px,325px;h:73px,73px,73px,56px;"
								data-blendmode="darken"
								data-frame_0="sX:0.9;sY:0.9;"
								data-frame_1="e:power2.inOut;st:300;sp:1000;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:9;font-family:'Roboto';"
							><img src="https://img1.niftyimages.com/f3r/-7sd/srud" width="100%" height="100%"> 
							</rs-layer><!--

							--><rs-layer
								id="slider-27-slide-43-layer-15" 
								data-type="text"
								data-color="#000000"
								data-rsp_ch="on"
								data-xy="x:c;xo:-520px,-520px,-520px,0;y:m,m,m,t;yo:-180px,-180px,-180px,50px;"
								data-text="w:nowrap,nowrap,nowrap,normal;s:92,92,92,70;l:92,92,92,70;ls:2px,2px,2px,1px;fw:900;a:center;"
								data-frame_0="x:0,0,0,0px;y:0,0,0,0px;o:1;"
								data-frame_1="x:0,0,0,0px;y:0,0,0,0px;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:14;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>Season Sale 
							</rs-layer><!--

							--><rs-layer
								id="slider-27-slide-43-layer-17" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:-520px,-520px,-520px,2px;y:t,t,t,m;yo:306px,306px,306px,-79px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:250px,250px,250px,150px;h:159px,159px,159px,100px;"
								data-frame_999="o:0;st:w;"
								style="z-index:11;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de0726-50.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
					<rs-static-layers class="rs-stl-visible"><!--
					--></rs-static-layers>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: '20',rl:[1240,1240,1240,480],el:[720,720,720,600],gw:[1920,1920,1920,480],gh:[720,720,720,600],type:'hero',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["20"]!==undefined) {window.RS_MODULES.modules["20"].once = false;window.revapi27 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://cdn.shopify.com/s/files/1/0641/1354/1347/t/5/assets/font.css" rel="stylesheet" property="stylesheet" media="all" type="text/css" >
<link href="https://cdn.shopify.com/s/files/1/0641/1354/1347/t/5/assets/font.css" rel="stylesheet" property="stylesheet" media="all" type="text/css" >
<link href="https://fonts.googleapis.com/css?family=Roboto:400%7CDIN+Next+LT+W04+Medium:400%2C600%2C900%7CDIN+Next+LT+Arabic+Regular:400%2C500" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		.rev_slider ul.tp-revslider-mainul{width:100% !important}
		#20_wrapper rs-loader.spinner2{background-color:#FFFFFF !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi27;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["20"] = {init:function() {
			window.revapi27 = window.revapi27===undefined || window.revapi27===null || window.revapi27.length===0  ? document.getElementById("20") : window.revapi27;
			if(window.revapi27 === null || window.revapi27 === undefined || window.revapi27.length==0) { window.revapi27initTry = window.revapi27initTry ===undefined ? 0 : window.revapi27initTry+1; if (window.revapi27initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["20"].init()}); return;}
			window.revapi27 = jQuery(window.revapi27);
			if(window.revapi27.revolution==undefined){ revslider_showDoubleJqueryError("20"); return;}
			revapi27.revolutionInit({
					revapi:"revapi27",
					sliderType:"hero",
					DPR:"dpr",
					sliderLayout:"fullwidth",
					duration:"7000ms",
					visibilityLevels:"1240,1240,1240,480",
					visibilityLevelsKey:"6261614fea8a3",
					gridwidth:"1920,1920,1920,480",
					gridheight:"720,720,720,600",
					lazyType:"smart",
					spinner:"spinner2",
					perspective:600,
					perspectiveType:"local",
					editorheight:"720,768,400,600",
					responsiveLevels:"1240,1240,1240,480",
					progressBar:{disableProgressBar:true},
					navigation: {
						onHoverStop:false
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_great-ideas-1" ).after( "<div id='revslider_show_great-ideas-1'></div>" );
                            jQuery( "#revslider_drag_great-ideas-1" ).hide();
                            jQuery("#revslider_foot_great-ideas-1").appendTo("#revslider_show_great-ideas-1");
                            jQuery("#revslider_show_great-ideas-1 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>