{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_timeless_elegant">
			<!-- START Great Ideas REVOLUTION SLIDER 6.5.6.16 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="20_wrapper" data-source="gallery" style="visibility:hidden;background:#ffffff;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="20" style="" data-version="6.5.6.16">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-111" data-title="Slide 1" data-anim="ms:0ms;" data-in="o:0;e:none;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_timeless-elegant.jpg" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
<!--
							--><rs-layer
								id="slider-72-slide-111-layer-0" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:540px,540px,540px,0;y:m,m,m,b;yo:0,0,0,85px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:623px,623px,623px,320px;h:649px,649px,649px,333px;"
								data-frame_1="e:none;"
								data-frame_999="o:0;st:w;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_timeless-elegant-img.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-72-slide-111-layer-1" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:-3000px,-3000px,-3000px,0;y:m;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:['480px','480px','480px','480px'];h:['600px','600px','600px','600px'];"
								data-vbility="f,f,f,t"
								data-basealign="slide"
								data-frame_999="o:0;st:w;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_timeless-elegant-mobile-bg.jpg" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-72-slide-111-layer-6" 
								data-type="text"
								data-color="#000000"
								data-rsp_ch="on"
								data-xy="x:c;xo:-350px,-350px,-350px,0;y:m,m,m,t;yo:-82px,-82px,-82px,62px;"
								data-text="s:54,54,54,30;l:45,45,45,30;ls:9px,9px,9px,1px;fw:500;a:center;"
								data-frame_0="x:0,0,0,0px;y:0,0,0,0px;o:1;"
								data-frame_1="x:0,0,0,0px;y:0,0,0,0px;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:13;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>Trending stylish Collection 
							</rs-layer><!--

							--><rs-layer
								id="slider-72-slide-111-layer-7" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:-350px,-350px,-350px,0;y:m;yo:0,0,0,-187px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:509px,509px,509px,360px;h:30px,30px,30px,21px;"
								data-frame_999="o:0;st:w;"
								style="z-index:12;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de020723-divider.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-72-slide-111-layer-12" 
								data-type="text"
								data-color="#000000"
								data-rsp_ch="on"
								data-xy="x:c;xo:-350px,-350px,-350px,0;y:m;yo:82px,82px,82px,-147px;"
								data-text="s:50,50,50,28;l:30,30,30,28;ls:6px,6px,6px,1px;fw:400,400,400,500;a:center;"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:11;font-family:'DIN Next LT Arabic Regular';text-transform:uppercase;"
							>Bestsellers up to 70% Off 
							</rs-layer><!--

							--><rs-layer
								id="slider-72-slide-111-layer-14" 
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:c;xo:-350px,-350px,-350px,-4px;y:m,m,m,b;yo:180px,180px,180px,20px;"
								data-text="s:20,20,20,4;l:25,25,25,7;a:left,left,left,center;"
								data-dim="w:420px,420px,420px,325px;h:76px,76px,76px,56px;"
								data-blendmode="darken"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:400;sp:600;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:10;font-family:'Roboto';"
							><img src="https://img1.niftyimages.com/f3r/on6r/8w-r" width="100%" height="100%"> 
							</rs-layer><!--

							--><rs-layer
								id="slider-72-slide-111-layer-15" 
								data-type="text"
								data-color="#000000"
								data-rsp_ch="on"
								data-xy="x:c;xo:-350px,-350px,-350px,0;y:m,m,m,t;yo:-169px,-169px,-169px,9px;"
								data-text="s:96,96,96,48;l:96,96,96,48;ls:5px,5px,5px,0px;fw:900;a:center;"
								data-frame_0="x:0,0,0,0px;y:0,0,0,0px;o:1;"
								data-frame_1="x:0,0,0,0px;y:0,0,0,0px;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:14;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>Timeless + Elegant 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
					<rs-static-layers class="rs-stl-visible"><!--
					--></rs-static-layers>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: '20',rl:[1240,1240,1240,480],el:[720,720,720,600],gw:[1920,1920,1920,480],gh:[720,720,720,600],type:'hero',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["20"]!==undefined) {window.RS_MODULES.modules["20"].once = false;window.revapi72 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://cdn.shopify.com/s/files/1/0641/1354/1347/t/5/assets/font.css" rel="stylesheet" property="stylesheet" media="all" type="text/css" >
<link href="https://cdn.shopify.com/s/files/1/0641/1354/1347/t/5/assets/font.css" rel="stylesheet" property="stylesheet" media="all" type="text/css" >
<link href="https://fonts.googleapis.com/css?family=Roboto:400%7CDIN+Next+LT+W04+Medium:500%2C900%7CDIN+Next+LT+Arabic+Regular:400%2C500" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		.rev_slider ul.tp-revslider-mainul{width:100% !important}
		#20_wrapper rs-loader.spinner2{background-color:#FFFFFF !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi72;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["20"] = {init:function() {
			window.revapi72 = window.revapi72===undefined || window.revapi72===null || window.revapi72.length===0  ? document.getElementById("20") : window.revapi72;
			if(window.revapi72 === null || window.revapi72 === undefined || window.revapi72.length==0) { window.revapi72initTry = window.revapi72initTry ===undefined ? 0 : window.revapi72initTry+1; if (window.revapi72initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["20"].init()}); return;}
			window.revapi72 = jQuery(window.revapi72);
			if(window.revapi72.revolution==undefined){ revslider_showDoubleJqueryError("20"); return;}
			revapi72.revolutionInit({
					revapi:"revapi72",
					sliderType:"hero",
					DPR:"dpr",
					sliderLayout:"fullwidth",
					duration:"7000ms",
					visibilityLevels:"1240,1240,1240,480",
					visibilityLevelsKey:"6261614fea8a3",
					gridwidth:"1920,1920,1920,480",
					gridheight:"720,720,720,600",
					lazyType:"smart",
					spinner:"spinner2",
					perspective:600,
					perspectiveType:"local",
					editorheight:"720,768,400,600",
					responsiveLevels:"1240,1240,1240,480",
					progressBar:{disableProgressBar:true},
					navigation: {
						onHoverStop:false
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_timeless_elegant" ).after( "<div id='revslider_show_timeless_elegant'></div>" );
                            jQuery( "#revslider_drag_timeless_elegant" ).hide();
                            jQuery("#revslider_foot_timeless_elegant").appendTo("#revslider_show_timeless_elegant");
                            jQuery("#revslider_show_timeless_elegant .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>