{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_next-level-discount-autumn">
			<!-- START Next Level Discount For Autumn REVOLUTION SLIDER 6.5.6.14 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="20_wrapper" data-source="gallery" style="visibility:hidden;background:#ebebe9;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="20" style="" data-version="6.5.6.14">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-75" data-title="Slide 1" data-in="o:0;e:none;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/Designer-Editions-Homepage2.jpg" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
<!--
							--><rs-layer
								id="slider-51-slide-75-layer-0" 
								data-type="text"
								data-color="#000000"
								data-rsp_ch="on"
								data-xy="x:c;xo:605px,605px,605px,0;yo:221px,221px,221px,89px;"
								data-text="s:80,80,80,60;l:80,80,80,60;fw:900;a:center;"
								data-frame_0="x:0,0,0,0px;y:0,0,0,0px;o:1;"
								data-frame_1="x:0,0,0,0px;y:0,0,0,0px;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:13;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>For Autumn 
							</rs-layer><!--

							--><rs-layer
								id="slider-51-slide-75-layer-1" 
								data-type="text"
								data-color="#db3200||#db3200||#db3200||#ea2a73"
								data-rsp_ch="on"
								data-xy="x:c;xo:605px,605px,605px,0;yo:115px,115px,115px,18px;"
								data-text="w:nowrap,nowrap,nowrap,normal;s:32,32,32,20;c:both;l:32,32,32,20;ls:3px,3px,3px,2px;fw:600;a:center;"
								data-flcr="c:both;"
								data-padding="r:3;b:3,3,3,2;l:3;"
								data-border="bos:dotted;boc:#ea2a73;bow:0,0,2px,0;"
								data-frame_0="sX:0.9;sY:0.9;"
								data-frame_1="e:power2.inOut;st:300;sp:1000;"
								data-frame_999="st:w;sR:5900;"
								style="z-index:14;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>48 HOURS LEFT 
							</rs-layer><!--

							--><rs-layer
								id="slider-51-slide-75-layer-6" 
								data-type="text"
								data-color="#2a2a2a"
								data-rsp_ch="on"
								data-xy="x:c;xo:605px,605px,605px,0;yo:384px,384px,384px,192px;"
								data-text="w:nowrap,nowrap,nowrap,normal;s:30,30,30,12;l:30,30,30,12;ls:0,0,0,-1;a:center;"
								data-dim="w:420px,420px,420px,274px;h:76px,76px,76px,auto;"
								data-blendmode="darken"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:11;font-family:'Open Sans';text-transform:uppercase;"
							><img src="https://img1.niftyimages.com/f3r/69xr/msir" style="width: 100%;height: 100%;"> 
							</rs-layer><!--

							--><rs-layer
								id="slider-51-slide-75-layer-7" 
								data-type="text"
								data-color="#000000"
								data-rsp_ch="on"
								data-xy="x:c;xo:605px,605px,605px,0;yo:328px,328px,328px,151px;"
								data-text="w:nowrap,nowrap,nowrap,normal;s:30,30,30,26;l:30,30,30,32;ls:3px,3px,3px,2px;fw:600,600,600,400;a:center;"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:10;font-family:'DIN Next LT Arabic Regular';text-transform:uppercase;"
							>Bargains Up To 70% Off 
							</rs-layer><!--

							--><rs-layer
								id="slider-51-slide-75-layer-9" 
								data-type="text"
								data-color="#000000"
								data-rsp_ch="on"
								data-xy="x:c;xo:605px,605px,605px,0;yo:164px,164px,164px,49px;"
								data-text="s:54,54,54,40;l:54,54,54,40;fw:900;a:center;"
								data-frame_0="x:0,0,0,0px;y:0,0,0,0px;o:1;"
								data-frame_1="x:0,0,0,0px;y:0,0,0,0px;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:12;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>Next Level Discount 
							</rs-layer><!--

							--><a
								id="slider-51-slide-75-layer-12" 
								class="rs-layer"
								href="https://www.designereditions.com/collections/express-delivery" target="_self"
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:c;xo:605px,605px,605px,-1px;y:t,t,t,m;yo:494px,494px,494px,-28px;"
								data-text="s:24,24,24,18;l:30,30,30,20;ls:3px,3px,3px,2px;fw:300;a:center;"
								data-dim="h:60px,60px,60px,auto;"
								data-padding="t:10,10,10,8;r:30,30,30,20;b:10,10,10,12;l:30,30,30,20;"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:9;background-color:#2a2a2a;font-family:'DIN Next LT Arabic Regular';"
							>SHOP NOW 
							</a><!--

							--><rs-layer
								id="slider-51-slide-75-layer-16" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:-29px,-29px,-29px,0;y:t,t,t,m;yo:728px,728px,728px,0;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:300px,300px,300px,100%;h:391px,391px,391px,auto;"
								data-vbility="f,f,f,t"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:7;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/DE-Valentine-mobile.jpg" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
					<rs-static-layers class="rs-stl-visible"><!--
					--></rs-static-layers>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: '20',rl:[1240,1240,1240,480],el:[720,720,720,600],gw:[1920,1920,1920,480],gh:[720,720,720,600],type:'hero',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["20"]!==undefined) {window.RS_MODULES.modules["20"].once = false;window.revapi51 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://cdn.shopify.com/s/files/1/0641/1354/1347/t/5/assets/font.css" rel="stylesheet" property="stylesheet" media="all" type="text/css" >
<link href="https://cdn.shopify.com/s/files/1/0641/1354/1347/t/5/assets/font.css" rel="stylesheet" property="stylesheet" media="all" type="text/css" >
<link href="https://fonts.googleapis.com/css?family=DIN+Next+LT+W04+Medium:900%2C600%7COpen+Sans:400%7CDIN+Next+LT+Arabic+Regular:600%2C400%2C300%7CRoboto:400" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		.rev_slider ul.tp-revslider-mainul{width:100% !important}
		#20_wrapper rs-loader.spinner2{background-color:#FFFFFF !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi51;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["20"] = {init:function() {
			window.revapi51 = window.revapi51===undefined || window.revapi51===null || window.revapi51.length===0  ? document.getElementById("20") : window.revapi51;
			if(window.revapi51 === null || window.revapi51 === undefined || window.revapi51.length==0) { window.revapi51initTry = window.revapi51initTry ===undefined ? 0 : window.revapi51initTry+1; if (window.revapi51initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["20"].init()}); return;}
			window.revapi51 = jQuery(window.revapi51);
			if(window.revapi51.revolution==undefined){ revslider_showDoubleJqueryError("20"); return;}
			revapi51.revolutionInit({
					revapi:"revapi51",
					sliderType:"hero",
					DPR:"dpr",
					sliderLayout:"fullwidth",
					duration:"7000ms",
					visibilityLevels:"1240,1240,1240,480",
					visibilityLevelsKey:"6261614fea8a3",
					gridwidth:"1920,1920,1920,480",
					gridheight:"720,720,720,600",
					lazyType:"smart",
					spinner:"spinner2",
					perspective:600,
					perspectiveType:"local",
					editorheight:"720,768,400,600",
					responsiveLevels:"1240,1240,1240,480",
					progressBar:{disableProgressBar:true},
					navigation: {
						onHoverStop:false
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_next-level-discount-autumn" ).after( "<div id='revslider_show_next-level-discount-autumn'></div>" );
                            jQuery( "#revslider_drag_next-level-discount-autumn" ).hide();
                            jQuery("#revslider_foot_next-level-discount-autumn").appendTo("#revslider_show_next-level-discount-autumn");
                            jQuery("#revslider_show_next-level-discount-autumn .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>