{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_angled-header1">
			<!-- START Next Level Discount For Summer REVOLUTION SLIDER 6.5.6.14 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="welcome_wrapper" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="welcome" style="" data-version="6.5.6.14">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-38" data-title="Slide" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="c:#fafbfa;" data-parallax="off" data-no-retina>
<!--						--><rs-zone id="rrzt_38" class="rev_row_zone_top" style="z-index: 17;"><!--

								--><rs-row
									id="slider-22-slide-38-layer-1" 
									data-type="row"
									data-xy="xo:50px,50px,50px,18px;yo:50px,50px,50px,18px;"
									data-text="s:20,20,20,7;l:0,0,0,9;"
									data-cbreak="1"
									data-rsp_o="off"
									data-margin="t:100,100,100,50;r:50,50,50,15;l:50,50,50,15;"
									data-frame_999="st:w;sR:8700;sA:9000;"
									style="z-index:1;"
								><!--
									--><rs-column
										id="slider-22-slide-38-layer-2" 
										data-type="column"
										data-xy="xo:50px,50px,50px,18px;yo:50px,50px,50px,18px;"
										data-text="s:20,20,20,7;l:0,0,0,9;"
										data-rsp_o="off"
										data-column="w:100%;"
										data-frame_999="st:w;sR:8700;sA:9000;"
										style="z-index:2;width:100%;"
									><!--
										--><rs-layer
											id="slider-22-slide-38-layer-0" 
											data-type="text"
											data-color="#ff3a2d"
											data-rsp_ch="on"
											data-text="w:normal;s:90,90,90,50;l:90,90,90,50;ls:-2px,-2px,-2px,-1px;fw:600;"
											data-disp="inline-block"
											data-padding="r:5,5,5,2;b:20,20,20,7;"
											data-clip="u:true;"
											data-frame_0="o:1;cp:0%;"
											data-frame_1="st:300;sp:1000;sR:300;cp:100%;"
											data-frame_999="st:w;sR:7700;"
											style="z-index:3;font-family:'DIN Next LT W04 Medium';display:inline-block;"
										>Next Level Discount<br/>For Summer 
										</rs-layer><!--

										--><rs-layer
											id="slider-22-slide-38-layer-4" 
											data-type="shape"
											data-rsp_ch="on"
											data-xy="xo:50px,50px,50px,18px;yo:50px,50px,50px,18px;"
											data-text="s:20,20,20,7;c:both;l:0,0,0,9;"
											data-flcr="c:both;"
											data-dim="w:100%;h:10px,10px,10px,3px;"
											data-frame_999="st:w;sR:8700;"
											style="z-index:4;"
										> 
										</rs-layer><!--

										--><rs-layer
											id="slider-22-slide-38-layer-5" 
											data-type="text"
											data-color="#ff3a2d"
											data-rsp_ch="on"
											data-text="w:normal;s:25,25,25,20;l:25,25,25,20;fw:400,400,400,500;"
											data-disp="inline-block"
											data-margin="t:10,10,10,4;"
											data-clip="u:true;"
											data-frame_0="o:1;cp:0%;"
											data-frame_1="st:400;sp:1000;sR:400;"
											data-frame_999="st:w;sR:7600;"
											style="z-index:5;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;display:inline-block;"
										>Bargains Up To 60% Off + Free Delivery 
										</rs-layer><!--

										--><rs-layer
											id="slider-22-slide-38-layer-10" 
											data-type="shape"
											data-rsp_ch="on"
											data-xy="xo:50px,50px,50px,18px;yo:50px,50px,50px,18px;"
											data-text="s:20,20,20,7;c:both;l:0,0,0,9;"
											data-flcr="c:both;"
											data-dim="w:100%;h:10px,10px,10px,3px;"
											data-frame_999="st:w;sR:8700;"
											style="z-index:6;"
										> 
										</rs-layer><!--

										--><rs-layer
											id="slider-22-slide-38-layer-3" 
											data-type="text"
											data-rsp_ch="on"
											data-xy="x:c;xo:480px,480px,480px,0;y:t,t,t,b;yo:140px,140px,140px,152px;"
											data-text="s:20,20,20,4;l:25,25,25,7;a:left,left,left,center;"
											data-dim="w:420px,420px,420px,280px;h:76px,76px,76px,50px;"
											data-blendmode="darken"
											data-margin="t:40,40,40,15;l:-20,-20,-20,-7;"
											data-frame_0="x:-50,-50,-50,-18;"
											data-frame_1="st:400;sp:1000;"
											data-frame_999="o:0;st:w;sR:6700;"
											style="z-index:7;font-family:'Roboto';"
										><img src="https://img1.niftyimages.com/f3r/miwd/bobd" width="100%" height="100%"> 
										</rs-layer><!--

										--><rs-layer
											id="slider-22-slide-38-layer-6" 
											data-type="text"
											data-color="#000000"
											data-rsp_ch="on"
											data-text="s:22,22,22,20;l:25,25,25,20;fw:600;"
											data-actions='o:click;a:scrollbelow;offset:-100px;sp:300ms;e:power1.inOut;'
											data-disp="inline-block"
											data-margin="t:30,30,30,11;"
											data-border="bos:solid;boc:#000000;bow:0,0,1px,0;"
											data-clip="u:true;"
											data-frame_0="o:1;cp:0%;"
											data-frame_1="st:500;sp:1000;sR:500;"
											data-frame_999="st:w;sR:7500;"
											data-frame_hover="c:#ff1000;boc:transparent;bos:solid;bow:0,0,1px,0;e:power1.inOut;bri:100%;"
											style="z-index:8;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;cursor:pointer;display:inline-block;"
										>Shop Now 
										</rs-layer><!--
									--></rs-column><!--
								--></rs-row><!--
							--></rs-zone><!--

							--><rs-group
								id="slider-22-slide-38-layer-9" 
								data-type="group"
								data-rsp_ch="on"
								data-xy="x:r;xo:-230px,-230px,-230px,-350px;y:b;"
								data-text="s:20,20,20,7;l:0,0,0,9;"
								data-dim="w:960px,960px,960px,600px;h:100%,100%,100%,600px;"
								data-basealign="slide"
								data-frame_0="x:right;o:1;"
								data-frame_0_mask="u:t;"
								data-frame_1="sp:1000;"
								data-frame_1_mask="u:t;"
								data-frame_999="st:w;sR:8000;sA:9000;"
								style="z-index:14;background-color:#e7cc00;"
							><!--
								--><rs-layer
									id="slider-22-slide-38-layer-7" 
									class="rs-pxl-4"
									data-type="image"
									data-rsp_ch="on"
									data-xy="x:l,l,l,c;y:b,b,b,m;"
									data-text="s:20,20,20,7;l:0,0,0,9;"
									data-dim="w:1000px,1000px,1000px,600px;h:1000px,1000px,1000px,600px;"
									data-basealign="slide"
									data-frame_0="y:100px,100px,100px,37px;"
									data-frame_1="e:power4.out;st:1000;sp:3000;sR:1000;"
									data-frame_999="st:w;sR:5000;"
									style="z-index:13;"
								><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_ders713-img.jpg" data-no-retina> 
								</rs-layer><!--
							--></rs-group><!--

							--><rs-group
								id="slider-22-slide-38-layer-13" 
								data-type="group"
								data-rsp_ch="on"
								data-xy="xo:-80px,-80px,-80px,20px;y:b;yo:250px,250px,250px,30px;"
								data-text="s:20,20,20,7;l:0,0,0,9;"
								data-dim="w:41px,41px,41px,14px;h:300px,300px,300px,150px;"
								data-vbility="t,f,f,t"
								data-actions='o:click;a:scrollbelow;offset:-100px;sp:1000ms;e:power1.inOut;'
								data-ford="frame_0;frame_1;frame_2;frame_3;frame_999;"
								data-frame_0="y:-300px,-300px,-300px,-112px;o:1;"
								data-frame_1="st:900;sp:1000;sR:900;"
								data-frame_999="st:w;sR:4900;sA:9000;"
								data-frame_2="y:-50px,-50px,-50px,-18px;oX:50%;oY:50%;oZ:0;tp:600px;e:power1.inOut;st:2000;sp:1000;sR:100;"
								data-frame_3="y:0px;oX:50%;oY:50%;oZ:0;tp:600px;e:power1.inOut;st:3100;sp:1000;sR:100;"
								data-tloop="f:frame_2;t:frame_3;c:false;"
								style="z-index:21;"
							><!--
								--><rs-layer
									id="slider-22-slide-38-layer-11" 
									data-type="shape"
									data-rsp_ch="on"
									data-xy="x:c;y:m,m,m,b;"
									data-text="s:20,20,20,7;l:0,0,0,9;"
									data-dim="w:1px;h:300px,300px,300px,150px;"
									data-frame_0="y:100%;o:1;"
									data-frame_0_mask="u:t;"
									data-frame_1="st:850;sp:1500;"
									data-frame_1_mask="u:t;"
									data-frame_999="st:w;sR:6650;"
									style="z-index:20;background-color:#ff3a2d;"
								> 
								</rs-layer><!--

								--><rs-layer
									id="slider-22-slide-38-layer-12" 
									data-type="shape"
									data-rsp_ch="on"
									data-xy="x:c;xo:-13px,-13px,-13px,-6px;y:b;"
									data-text="s:20,20,20,7;l:0,0,0,9;"
									data-dim="w:25px,25px,25px,9px;h:1px;"
									data-frame_0="sX:0;o:1;rZ:45deg;oX:100%;oY:100%;"
									data-frame_1="rZ:45deg;oX:100%;oY:100%;st:1310;sp:1000;sR:410;"
									data-frame_999="st:w;sR:6690;"
									style="z-index:19;background-color:#ff3a2d;"
								> 
								</rs-layer><!--

								--><rs-layer
									id="slider-22-slide-38-layer-14" 
									data-type="shape"
									data-rsp_ch="on"
									data-xy="x:c;xo:-13px,-13px,-13px,-6px;y:b;yo:1px,1px,1px,0;"
									data-text="s:20,20,20,7;l:0,0,0,9;"
									data-dim="w:25px,25px,25px,9px;h:1px;"
									data-frame_0="sX:0;o:1;rZ:135deg;oX:100%;oY:100%;"
									data-frame_1="rZ:135deg;oX:100%;oY:100%;st:1310;sp:1000;sR:410;"
									data-frame_999="st:w;sR:6690;"
									style="z-index:18;background-color:#ff3a2d;"
								> 
								</rs-layer><!--
							--></rs-group><!--
-->						</rs-slide>
					</rs-slides>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: 'welcome',rl:[1240,1240,1240,480],el:[720,720,720,600],gw:[1280,1280,1280,480],gh:[720,720,720,600],type:'hero',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["welcome"]!==undefined) {window.RS_MODULES.modules["welcome"].once = false;window.revapi22 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://cdn.shopify.com/s/files/1/0641/1354/1347/t/5/assets/font.css" rel="stylesheet" property="stylesheet" media="all" type="text/css" >
<link href="https://fonts.googleapis.com/css?family=DIN+Next+LT+W04+Medium:600%2C400%2C500%7CRoboto:400" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">#rs-demo-id {}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi22;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["welcome"] = {init:function() {
			window.revapi22 = window.revapi22===undefined || window.revapi22===null || window.revapi22.length===0  ? document.getElementById("welcome") : window.revapi22;
			if(window.revapi22 === null || window.revapi22 === undefined || window.revapi22.length==0) { window.revapi22initTry = window.revapi22initTry ===undefined ? 0 : window.revapi22initTry+1; if (window.revapi22initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["welcome"].init()}); return;}
			window.revapi22 = jQuery(window.revapi22);
			if(window.revapi22.revolution==undefined){ revslider_showDoubleJqueryError("welcome"); return;}
			revapi22.revolutionInit({
					revapi:"revapi22",
					sliderType:"hero",
					DPR:"dpr",
					sliderLayout:"fullwidth",
					visibilityLevels:"1240,1240,1240,480",
					visibilityLevelsKey:"6261614fea8a3",
					gridwidth:"1280,1280,1280,480",
					gridheight:"720,720,720,600",
					lazyType:"smart",
					perspective:600,
					perspectiveType:"local",
					editorheight:"720,768,960,600",
					responsiveLevels:"1240,1240,1240,480",
					progressBar:{disableProgressBar:true},
					navigation: {
						onHoverStop:false
					},
					parallax: {
						levels:[5,10,15,20,25,30,35,40,45,46,-5,-10,-15,-20,-25,30],
						type:"scroll",
						origo:"slideCenter",
						speed:0
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"0px"
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_angled-header1" ).after( "<div id='revslider_show_angled-header1'></div>" );
                            jQuery( "#revslider_drag_angled-header1" ).hide();
                            jQuery("#revslider_foot_angled-header1").appendTo("#revslider_show_angled-header1");
                            jQuery("#revslider_show_angled-header1 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>