{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_Summer-Inspiration">
			<!-- START Summer Inspiration REVOLUTION SLIDER 6.5.6.14 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="20_wrapper" data-source="gallery" style="visibility:hidden;background:rgba(236,231,228,0);padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="20" style="" data-version="6.5.6.14">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-34" data-title="Slide 1" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/summer-inspiration-bg.jpg" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
<!--
							--><rs-layer
								id="slider-18-slide-34-layer-0" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:r,r,r,c;y:m,m,m,b;yo:20px,20px,20px,10px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:1096px,1096px,1096px,480px;h:685px,685px,685px,300px;"
								data-frame_999="o:0;st:w;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/summer-inspiration-img.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-18-slide-34-layer-3" 
								data-type="text"
								data-color="#db3200||#db3200||#db3200||#ea2a73"
								data-rsp_ch="on"
								data-xy="x:c;xo:-530px,-530px,-530px,0;yo:115px,115px,115px,20px;"
								data-text="w:nowrap,nowrap,nowrap,normal;s:32,32,32,20;c:both;l:32,32,32,20;ls:3px,3px,3px,2px;fw:600;a:center;"
								data-flcr="c:both;"
								data-padding="r:3;b:3,3,3,2;l:3;"
								data-border="bos:dotted;boc:#ea2a73;bow:0,0,2px,0;"
								data-frame_0="sX:0.9;sY:0.9;"
								data-frame_1="e:power2.inOut;st:600;sp:1500;"
								data-frame_999="st:w;sR:5900;"
								style="z-index:14;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>EXTENDED 24 HOURS 
							</rs-layer><!--

							--><rs-layer
								id="slider-18-slide-34-layer-9" 
								data-type="text"
								data-color="#db3200"
								data-rsp_ch="on"
								data-xy="x:c;xo:-530px,-530px,-530px,0;y:m;yo:-25px,-25px,-25px,-135px;"
								data-text="s:34,34,34,25;l:30;ls:2px,2px,2px,1px;fw:400,400,400,500;a:center;"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:12;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>up to 60% off + Free delivery 
							</rs-layer><!--

							--><rs-layer
								id="slider-18-slide-34-layer-12" 
								data-type="text"
								data-color="#000000"
								data-rsp_ch="on"
								data-xy="x:c;xo:-530px,-530px,-530px,0;y:m;yo:40px,40px,40px,-95px;"
								data-text="s:44,44,44,28;l:44,44,44,30;ls:2px,2px,2px,1px;fw:400,400,400,500;a:right,right,right,center;"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:11;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>Limited Time Sale 
							</rs-layer><!--

							--><rs-layer
								id="slider-18-slide-34-layer-14" 
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:c;xo:-530px,-530px,-530px,0;y:m,m,m,b;yo:115px,115px,115px,315px;"
								data-text="s:20,20,20,4;l:25,25,25,7;a:left,left,left,center;"
								data-dim="w:424px,424px,424px,300px;h:73px,73px,73px,52px;"
								data-blendmode="darken"
								data-frame_0="x:0,0,0,0px;y:0,0,0,0px;o:1;"
								data-frame_1="x:0,0,0,0px;y:0,0,0,0px;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:10;font-family:'Roboto';"
							><img src="https://img1.niftyimages.com/f3r/ri1d/ao9d" width="100%" height="100%"> 
							</rs-layer><!--

							--><rs-layer
								id="slider-18-slide-34-layer-15" 
								data-type="text"
								data-color="#000000"
								data-rsp_ch="on"
								data-xy="x:c;xo:-531px,-531px,-531px,0;y:m,m,m,t;yo:-125px,-125px,-125px,53px;"
								data-text="w:nowrap,nowrap,nowrap,normal;s:60,60,60,40;l:60,60,60,44;ls:3px,3px,3px,1px;fw:900;a:center;"
								data-frame_0="x:0,0,0,0px;y:0,0,0,0px;o:1;"
								data-frame_1="x:0,0,0,0px;y:0,0,0,0px;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:13;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>Summer Inspiration<br />
For Your Home 
							</rs-layer><!--

							--><rs-layer
								id="slider-18-slide-34-layer-16" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:-29px,-29px,-29px,0;y:t,t,t,m;yo:728px,728px,728px,0;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:['100%','100%','100%','100%'];h:['100%','100%','100%','100%'];"
								data-vbility="f,f,f,f"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/summer-inspiration-mobile-bg.jpg" data-c="cover-proportional" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
					<rs-static-layers class="rs-stl-visible"><!--
					--></rs-static-layers>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: '20',rl:[1240,1240,1240,480],el:[720,720,720,600],gw:[1920,1920,1920,480],gh:[720,720,720,600],type:'hero',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["20"]!==undefined) {window.RS_MODULES.modules["20"].once = false;window.revapi18 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://cdn.shopify.com/s/files/1/0641/1354/1347/t/5/assets/font.css" rel="stylesheet" property="stylesheet" media="all" type="text/css" >
<link href="https://fonts.googleapis.com/css?family=Roboto:400%7CDIN+Next+LT+W04+Medium:600%2C400%2C500%2C900" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		.rev_slider ul.tp-revslider-mainul{width:100% !important}
		#20_wrapper rs-loader.spinner2{background-color:#FFFFFF !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi18;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["20"] = {init:function() {
			window.revapi18 = window.revapi18===undefined || window.revapi18===null || window.revapi18.length===0  ? document.getElementById("20") : window.revapi18;
			if(window.revapi18 === null || window.revapi18 === undefined || window.revapi18.length==0) { window.revapi18initTry = window.revapi18initTry ===undefined ? 0 : window.revapi18initTry+1; if (window.revapi18initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["20"].init()}); return;}
			window.revapi18 = jQuery(window.revapi18);
			if(window.revapi18.revolution==undefined){ revslider_showDoubleJqueryError("20"); return;}
			revapi18.revolutionInit({
					revapi:"revapi18",
					sliderType:"hero",
					DPR:"dpr",
					sliderLayout:"fullwidth",
					duration:"7000ms",
					visibilityLevels:"1240,1240,1240,480",
					visibilityLevelsKey:"6261614fea8a3",
					gridwidth:"1920,1920,1920,480",
					gridheight:"720,720,720,600",
					lazyType:"smart",
					spinner:"spinner2",
					perspective:600,
					perspectiveType:"local",
					editorheight:"720,768,400,600",
					responsiveLevels:"1240,1240,1240,480",
					progressBar:{disableProgressBar:true},
					navigation: {
						onHoverStop:false
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_Summer-Inspiration" ).after( "<div id='revslider_show_Summer-Inspiration'></div>" );
                            jQuery( "#revslider_drag_Summer-Inspiration" ).hide();
                            jQuery("#revslider_foot_Summer-Inspiration").appendTo("#revslider_show_Summer-Inspiration");
                            jQuery("#revslider_show_Summer-Inspiration .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>