{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_image-hero1">
			<!-- START Image Hero1 REVOLUTION SLIDER 6.5.6.14 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_3_1_wrapper" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="rev_slider_3_1" style="" data-version="6.5.6.14">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-7" data-title="Intro" data-anim="ms:2000;" data-in="o:-0.5;sx:1.6;sy:1.6;e:power4.inOut;" data-out="o:0;sx:0.6;sy:0.6;e:power4.inOut;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/0653/0908/1853/t/5/assets/fm_IMG_1153.jpg" class="rev-slidebg tp-rs-img rs-lazyload" data-parallax="10" data-no-retina>
<!--
							--><rs-layer
								id="slider-3-slide-7-layer-0" 
								class="rev-scroll-btn"
								data-type="button"
								data-xy="x:c;y:m,m,m,t;yo:-100px,-100px,-100px,210px;"
								data-text="fw:100;"
								data-dim="w:35px;h:55px;"
								data-actions='o:click;a:scrollbelow;offset:0;sp:300;e:none;'
								data-basealign="slide"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-border="bos:solid;boc:#ffffff;bow:1px,1px,1px,1px;bor:23px,23px,23px,23px;"
								data-frame_0="y:50px;"
								data-frame_1="st:1500;sp:1500;sR:1500;"
								data-frame_999="y:50px;o:0;e:nothing;st:w;sp:1000;sR:6000;"
								style="z-index:11;font-family:'Roboto';cursor:pointer;box-sizing:border-box;n-moz-box-sizing:border-box;n-webkit-box-sizing:border-box;"
							><span></span> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-7-layer-3" 
								class="NotGeneric-SubTitle"
								data-type="text"
								data-color="#ffffff||#ffffff||#ffffff||rgba(255,255,255,1)"
								data-rsp_ch="on"
								data-xy="x:c;y:m,m,m,t;yo:-268px,-268px,-268px,10px;"
								data-text="w:nowrap,nowrap,nowrap,normal;s:90,90,90,60;l:90,90,90,65;ls:3px,3px,3px,1px;fw:800;a:center;"
								data-dim="w:auto,auto,auto,470px;"
								data-frame_0="rX:70deg;oZ:-50;"
								data-frame_0_chars="d:5;y:cyc(-100||100);o:0;"
								data-frame_1="oZ:-50;e:power4.inOut;st:720;sp:750;"
								data-frame_1_chars="e:power4.inOut;dir:middletoedge;d:10;"
								data-frame_999="y:100%;e:power2.inOut;st:w;sp:1000;sR:6780;"
								data-frame_999_mask="u:t;"
								style="z-index:10;font-family:'Raleway';text-transform:capitalize;"
							>Design Within Reach 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-7-layer-4" 
								class="NotGeneric-SubTitle"
								data-type="text"
								data-color="#ffffff||#ffffff||#ffffff||rgba(255,255,255,1)"
								data-rsp_ch="on"
								data-xy="x:c;y:m,m,m,t;yo:-178px,-178px,-178px,160px;"
								data-text="s:32,32,32,25;l:32,32,32,25;ls:3px,3px,3px,2px;fw:500;a:center;"
								data-dim="w:auto,auto,auto,100%;"
								data-frame_0="y:100%;"
								data-frame_0_mask="u:t;y:100%;"
								data-frame_1="e:power4.inOut;st:1000;sp:1500;sR:1000;"
								data-frame_1_mask="u:t;"
								data-frame_999="y:100%;e:power2.inOut;st:w;sp:1000;sR:6500;"
								data-frame_999_mask="u:t;"
								style="z-index:9;font-family:'Raleway';text-transform:uppercase;"
							>shop Up to 50% Off 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-7-layer-10" 
								class="tp-shape tp-shapewrapper"
								data-type="shape"
								data-xy="x:c;y:m;"
								data-text="fw:800;"
								data-dim="w:100%;h:100%;"
								data-basealign="slide"
								data-rsp_bd="off"
								data-frame_1="st:480;sp:1500;sR:480;"
								data-frame_999="e:nothing;st:w;sR:7020;"
								style="z-index:8;background-color:rgba(0,0,0,0.25);"
							> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: 'rev_slider_3_1',rl:[1240,1240,1240,480],el:[720,720,720,600],gw:[1240,1240,1240,480],gh:[720,720,720,600],type:'hero',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider31"]!==undefined) {window.RS_MODULES.modules["revslider31"].once = false;window.revapi3 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://fonts.googleapis.com/css?family=Roboto:100%2C800%2C400%7CRaleway:800%2C500" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">#rs-demo-id {}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof revQuery !== "undefined"){

		var	tpj = revQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = revQuery;

		})

		}

		var	revapi3;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider31"] = {init:function() {
			window.revapi3 = window.revapi3===undefined || window.revapi3===null || window.revapi3.length===0  ? document.getElementById("rev_slider_3_1") : window.revapi3;
			if(window.revapi3 === null || window.revapi3 === undefined || window.revapi3.length==0) { window.revapi3initTry = window.revapi3initTry ===undefined ? 0 : window.revapi3initTry+1; if (window.revapi3initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider31"].init()}); return;}
			window.revapi3 = revQuery(window.revapi3);
			if(window.revapi3.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_3_1"); return;}
			revapi3.revolutionInit({
					revapi:"revapi3",
					sliderType:"hero",
					DPR:"dpr",
					sliderLayout:"fullwidth",
					visibilityLevels:"1240,1240,1240,480",
					visibilityLevelsKey:"62d641e4bea61",
					gridwidth:"1240,1240,1240,480",
					gridheight:"720,720,720,600",
					lazyType:"smart",
					perspective:600,
					perspectiveType:"local",
					editorheight:"720,500,400,600",
					responsiveLevels:"1240,1240,1240,480",
					progressBar:{disableProgressBar:true},
					navigation: {
						onHoverStop:false
					},
					parallax: {
						levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,30],
						type:"mouse",
						origo:"slidercenter",
						speed:2000
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            revQuery( "#revslider_drag_image-hero1" ).after( "<div id='revslider_show_image-hero1'></div>" );
                            revQuery( "#revslider_drag_image-hero1" ).hide();
                            revQuery("#revslider_foot_image-hero1").appendTo("#revslider_show_image-hero1");
                            revQuery("#revslider_show_image-hero1 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>