{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_platinum-jubilee-bank-holiday-1">
			<!-- START Live In Style REVOLUTION SLIDER 6.5.6.13 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="20_wrapper" data-source="gallery" style="visibility:hidden;background:rgba(236,231,228,0);padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="20" style="" data-version="6.5.6.13">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-10" data-title="Slide 1" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_Live-in-style-bg.jpg" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
<!--
							--><rs-layer
								id="slider-6-slide-10-layer-0" 
								data-type="text"
								data-color="#393a3e"
								data-rsp_ch="on"
								data-xy="x:c;xo:460px,460px,460px,0;y:b;yo:200px,200px,200px,-50px;"
								data-text="s:40,40,40,24;l:50,50,50,30;ls:2px,2px,2px,5px;fw:300;a:center;"
								data-dim="minh:0px,0px,0px,none;"
								data-vbility="t,t,t,f"
								data-frame_0="x:0,0,0,0px;y:0,0,0,0px;o:1;"
								data-frame_1="x:0,0,0,0px;y:0,0,0,0px;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:10;font-family:'DIN Next LT Arabic Regular';text-transform:uppercase;"
							>Select Lines 
							</rs-layer><!--

							--><rs-layer
								id="slider-6-slide-10-layer-1" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:-450px,-450px,-450px,0;y:m;yo:0,0,0,142px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:623px,623px,623px,280px;h:649px,649px,649px,292px;"
								data-frame_999="o:0;st:w;"
								style="z-index:16;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_Live-in-style.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-6-slide-10-layer-2" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;y:m;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:['100%','100%','100%','100%'];h:['100%','100%','100%','100%'];"
								data-vbility="f,f,f,t"
								data-frame_999="o:0;st:w;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_Live-in-style-mobile.jpg" data-c="cover-proportional" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-6-slide-10-layer-11" 
								data-type="text"
								data-color="#393a3e"
								data-rsp_ch="on"
								data-xy="x:c;xo:460px,460px,460px,-2px;yo:179px,179px,179px,72px;"
								data-text="s:50,50,50,30;l:50,50,50,30;ls:6px;fw:300;a:center;"
								data-dim="minh:0px,0px,0px,none;"
								data-frame_0="x:0,0,0,0px;y:0,0,0,0px;o:1;"
								data-frame_1="x:0,0,0,0px;y:0,0,0,0px;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:14;font-family:'DIN Next LT Arabic Regular';text-transform:uppercase;"
							>Bank Holiday Sale 
							</rs-layer><!--

							--><rs-layer
								id="slider-6-slide-10-layer-12" 
								data-type="text"
								data-color="#393a3e"
								data-rsp_ch="on"
								data-xy="x:r;xo:630px,630px,630px,323px;y:m;yo:0,0,0,-136px;"
								data-text="s:40,40,40,30;l:30;fw:400,400,400,500;a:right,right,right,center;"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:13;font-family:'DIN Next LT Arabic Regular';text-transform:uppercase;"
							>Up to 
							</rs-layer><!--

							--><rs-layer
								id="slider-6-slide-10-layer-13" 
								data-type="text"
								data-color="#393a3e"
								data-rsp_ch="on"
								data-xy="xo:1545px,1545px,1545px,320px;y:m;yo:0,0,0,-135px;"
								data-text="s:40,40,40,30;l:30;fw:400,400,400,500;"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:11;font-family:'DIN Next LT Arabic Regular';text-transform:uppercase;"
							>% off 
							</rs-layer><!--

							--><rs-layer
								id="slider-6-slide-10-layer-14" 
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:c;xo:459px,459px,459px,0;y:b;yo:100px,100px,100px,315px;"
								data-text="s:20,20,20,4;l:25,25,25,7;a:left,left,left,center;"
								data-dim="w:385px,385px,385px,325px;h:68px,68px,68px,56px;"
								data-blendmode="darken"
								data-frame_0="x:0,0,0,0px;y:0,0,0,0px;o:1;"
								data-frame_1="x:0,0,0,0px;y:0,0,0,0px;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:9;font-family:'Roboto';"
							><img src="https://img1.niftyimages.com/f3r/-ymd/sasd" width="100%" height="100%"> 
							</rs-layer><!--

							--><rs-layer
								id="slider-6-slide-10-layer-15" 
								data-type="text"
								data-color="#393a3e"
								data-rsp_ch="on"
								data-xy="x:c;xo:460px,460px,460px,0;yo:98px,98px,98px,15px;"
								data-text="s:100,100,100,56;l:64,64,64,56;ls:5px;fw:900;a:center;"
								data-frame_0="x:0,0,0,0px;y:0,0,0,0px;o:1;"
								data-frame_1="x:0,0,0,0px;y:0,0,0,0px;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:15;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>Spring 
							</rs-layer><!--

							--><rs-layer
								id="slider-6-slide-10-layer-17" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:460px,460px,460px,0;y:m;yo:0,0,0,-130px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:200px,200px,200px,130px;h:149px,149px,149px,97px;"
								data-frame_999="o:0;st:w;"
								style="z-index:12;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_DE60-black.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
					<rs-static-layers class="rs-stl-visible"><!--
					--></rs-static-layers>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: '20',rl:[1240,1240,1240,480],el:[720,720,720,600],gw:[1920,1920,1920,480],gh:[720,720,720,600],type:'hero',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["20"]!==undefined) {window.RS_MODULES.modules["20"].once = false;window.revapi6 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://cdn.shopify.com/s/files/1/0641/1354/1347/t/5/assets/font.css" rel="stylesheet" property="stylesheet" media="all" type="text/css" >
<link href="https://cdn.shopify.com/s/files/1/0641/1354/1347/t/5/assets/font.css" rel="stylesheet" property="stylesheet" media="all" type="text/css" >
<link href="https://fonts.googleapis.com/css?family=DIN+Next+LT+Arabic+Regular:300%2C400%2C500%7CRoboto:400%7CDIN+Next+LT+W04+Medium:900" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		.rev_slider ul.tp-revslider-mainul{width:100% !important}
		#20_wrapper rs-loader.spinner2{background-color:#FFFFFF !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi6;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["20"] = {init:function() {
			window.revapi6 = window.revapi6===undefined || window.revapi6===null || window.revapi6.length===0  ? document.getElementById("20") : window.revapi6;
			if(window.revapi6 === null || window.revapi6 === undefined || window.revapi6.length==0) { window.revapi6initTry = window.revapi6initTry ===undefined ? 0 : window.revapi6initTry+1; if (window.revapi6initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["20"].init()}); return;}
			window.revapi6 = jQuery(window.revapi6);
			if(window.revapi6.revolution==undefined){ revslider_showDoubleJqueryError("20"); return;}
			revapi6.revolutionInit({
					revapi:"revapi6",
					sliderType:"hero",
					DPR:"dpr",
					sliderLayout:"fullwidth",
					duration:"7000ms",
					visibilityLevels:"1240,1240,1240,480",
					visibilityLevelsKey:"6261614fea8a3",
					gridwidth:"1920,1920,1920,480",
					gridheight:"720,720,720,600",
					lazyType:"smart",
					spinner:"spinner2",
					perspective:600,
					perspectiveType:"local",
					editorheight:"720,768,400,600",
					responsiveLevels:"1240,1240,1240,480",
					progressBar:{disableProgressBar:true},
					navigation: {
						onHoverStop:false
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_platinum-jubilee-bank-holiday-1" ).after( "<div id='revslider_show_platinum-jubilee-bank-holiday-1'></div>" );
                            jQuery( "#revslider_drag_platinum-jubilee-bank-holiday-1" ).hide();
                            jQuery("#revslider_foot_platinum-jubilee-bank-holiday-1").appendTo("#revslider_show_platinum-jubilee-bank-holiday-1");
                            jQuery("#revslider_show_platinum-jubilee-bank-holiday-1 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>