{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_get-hygge-this-autumn">
			<!-- START Get Hygge This Autumn REVOLUTION SLIDER 6.5.6.14 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="20_wrapper" data-source="gallery" style="visibility:hidden;background:#f2f2f2;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="20" style="" data-version="6.5.6.14">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-73" data-title="Slide 1" data-anim="d:5;ms:300ms;" data-in="o:0;e:none;" data-out="e:none;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de1025-bg.jpg" class="rev-slidebg tp-rs-img rs-lazyload" data-bg="p:center bottom;r:repeat-x;" data-no-retina>
<!--
							--><rs-layer
								id="slider-49-slide-73-layer-0" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:100px,100px,100px,0;y:m,m,m,b;yo:20px,20px,20px,10px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:1083px,1083px,1083px,475px;h:541px,541px,541px,237px;"
								data-frame_999="o:0;st:w;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de1025-model.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-49-slide-73-layer-1" 
								data-type="text"
								data-color="#000000"
								data-rsp_ch="on"
								data-xy="x:c;xo:570px,570px,570px,0;y:m,m,m,t;yo:-135px,-135px,-135px,104px;"
								data-text="w:normal,normal,normal,normal;s:80,80,80,60;l:80,80,80,60;ls:3px,3px,3px,1px;fw:900;a:center;"
								data-dim="w:622px,622px,622px,436px;"
								data-frame_0="x:0,0,0,0px;y:0,0,0,0px;o:1;"
								data-frame_1="x:0,0,0,0px;y:0,0,0,0px;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:13;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>Get Hygge This Autumn 
							</rs-layer><!--

							--><rs-layer
								id="slider-49-slide-73-layer-2" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:180px,180px,180px,0;yo:-170px,-170px,-170px,-100px;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:168px,168px,168px,98px;h:338px,338px,338px,197px;"
								data-frame_999="o:0;st:w;"
								style="z-index:10;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de1025-artichoke.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-49-slide-73-layer-3" 
								data-type="text"
								data-color="#db3200||#db3200||#db3200||#ea2a73"
								data-rsp_ch="on"
								data-xy="x:c;xo:570px,570px,570px,0;yo:115px,115px,115px,95px;"
								data-text="w:nowrap,nowrap,nowrap,normal;s:32,32,32,20;c:both;l:32,32,32,20;ls:3px,3px,3px,2px;fw:600;a:center;"
								data-flcr="c:both;"
								data-vbility="f,f,f,f"
								data-padding="r:3;b:3,3,3,2;l:3;"
								data-border="bos:dotted;boc:#ea2a73;bow:0,0,2px,0;"
								data-frame_0="sX:0.9;sY:0.9;"
								data-frame_1="e:power2.inOut;st:300;sp:1000;"
								data-frame_999="st:w;sR:5900;"
								style="z-index:14;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>EXTENDED 24 HOURS 
							</rs-layer><!--

							--><rs-layer
								id="slider-49-slide-73-layer-9" 
								data-type="text"
								data-color="#000000"
								data-rsp_ch="on"
								data-xy="x:c;xo:570px,570px,570px,0;y:m;yo:-2px,-2px,-2px,-43px;"
								data-text="s:28,28,28,21;l:30;ls:2px,2px,2px,1px;fw:400,400,400,500;a:center;"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:12;font-family:'DIN Next LT W04 Medium';text-transform:uppercase;"
							>Shop Now & Be Cozy - Save Up To 70% Off 
							</rs-layer><!--

							--><rs-layer
								id="slider-49-slide-73-layer-14" 
								data-type="text"
								data-rsp_ch="on"
								data-xy="x:c;xo:570px,570px,570px,-2px;y:m,m,m,b;yo:95px,95px,95px,260px;"
								data-text="s:20,20,20,4;l:25,25,25,7;a:left,left,left,center;"
								data-dim="w:424px,424px,424px,300px;h:73px,73px,73px,52px;"
								data-blendmode="darken"
								data-frame_0="x:0,0,0,0px;y:0,0,0,0px;o:1;"
								data-frame_1="x:0,0,0,0px;y:0,0,0,0px;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:11;font-family:'Roboto';"
							><img src="https://img1.niftyimages.com/f3r/rt2d/abrr" width="100%" height="100%"> 
							</rs-layer><!--

							--><rs-layer
								id="slider-49-slide-73-layer-16" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:-29px,-29px,-29px,0;y:t,t,t,m;yo:728px,728px,728px,0;"
								data-text="w:normal;s:20,20,20,4;l:0,0,0,6;"
								data-dim="w:['100%','100%','100%','100%'];h:['100%','100%','100%','100%'];"
								data-vbility="f,f,f,t"
								data-frame_0="o:1;"
								data-frame_999="o:0;st:w;sR:6700;"
								style="z-index:8;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0641/1354/1347/t/7/assets/fm_de1025-mobile-bg.jpg" data-c="cover-proportional" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
					<rs-static-layers class="rs-stl-visible"><!--
					--></rs-static-layers>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: '20',rl:[1240,1240,1240,480],el:[720,720,720,600],gw:[1920,1920,1920,480],gh:[720,720,720,600],type:'hero',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["20"]!==undefined) {window.RS_MODULES.modules["20"].once = false;window.revapi49 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://cdn.shopify.com/s/files/1/0641/1354/1347/t/5/assets/font.css" rel="stylesheet" property="stylesheet" media="all" type="text/css" >
<link href="https://fonts.googleapis.com/css?family=Roboto:400%7CDIN+Next+LT+W04+Medium:900%2C600%2C400%2C500" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		.rev_slider ul.tp-revslider-mainul{width:100% !important}
		#20_wrapper rs-loader.spinner2{background-color:#FFFFFF !important}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof jQuery !== "undefined"){

		var	tpj = jQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = jQuery;

		})

		}

		var	revapi49;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["20"] = {init:function() {
			window.revapi49 = window.revapi49===undefined || window.revapi49===null || window.revapi49.length===0  ? document.getElementById("20") : window.revapi49;
			if(window.revapi49 === null || window.revapi49 === undefined || window.revapi49.length==0) { window.revapi49initTry = window.revapi49initTry ===undefined ? 0 : window.revapi49initTry+1; if (window.revapi49initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["20"].init()}); return;}
			window.revapi49 = jQuery(window.revapi49);
			if(window.revapi49.revolution==undefined){ revslider_showDoubleJqueryError("20"); return;}
			revapi49.revolutionInit({
					revapi:"revapi49",
					sliderType:"hero",
					DPR:"dpr",
					sliderLayout:"fullwidth",
					duration:"7000ms",
					visibilityLevels:"1240,1240,1240,480",
					visibilityLevelsKey:"6261614fea8a3",
					gridwidth:"1920,1920,1920,480",
					gridheight:"720,720,720,600",
					lazyType:"smart",
					spinner:"spinner2",
					perspective:600,
					perspectiveType:"local",
					editorheight:"720,768,400,600",
					responsiveLevels:"1240,1240,1240,480",
					progressBar:{disableProgressBar:true},
					navigation: {
						onHoverStop:false
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:"20%"
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_get-hygge-this-autumn" ).after( "<div id='revslider_show_get-hygge-this-autumn'></div>" );
                            jQuery( "#revslider_drag_get-hygge-this-autumn" ).hide();
                            jQuery("#revslider_foot_get-hygge-this-autumn").appendTo("#revslider_show_get-hygge-this-autumn");
                            jQuery("#revslider_show_get-hygge-this-autumn .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>