<div class="drawer drawer--right tw-shadow-lg" id="CartDrawer" tabindex="-1">
    <div class="drawer__header">
        <div class="table-cell">
            <h3>Min Handlevogn</h3>
        </div>
        <div class="table-cell">
            <span class="drawer__close js-drawer-close">
                Lukk
            </span>
        </div>
    </div>
    <div id="CartContainer">
        <form action="/no-no/cart" class="cart ajaxcart" method="post" novalidate="">
            <div class="ajaxcart__inner">
                <div class="ajaxcart__product tw-mb-6">
                    <div class="tw-flex ajaxcart tw-gap-3" data-line="1">

                        <div class="grid__item desktop-5 tablet-2 mobile-3 item_img tw-w-1/3 tw-relative tw-flex-shrink-0">
                            <a class="ajaxcart__product-image " href="/no-no/products/replica-2322-armchair-borge-mogensen?variant=40837256052922">
                                <img alt="" class="tw-absolute tw-inset-0 tw-w-full tw-h-full tw-object-contain" src="https://cdn.shopify.com/s/files/1/0563/0938/3354/products/mg_1186_sa____e__u______unicode_encoding_conflict_medium.png?v=1645782107"></a>

                        </div>

                        <div class="tw-flex-1">
                            <div class="item_dtl tw-text-right">
                                <p>
                                    <a class="ajaxcart__product-name" href="/no-no/products/replica-2322-armchair-borge-mogensen?variant=40837256052922">
                                        <b>2322 lenestol.</b>
                                    </a>

                                </p>
                                <p class="ajaxcart__product-meta">Premium Leather / Black</p>


                                <p></p>
                                <div class="pricing">
                                    <h5>

                                        <span class="ajaxcart__price money">51.288,00 kr</span>

                                        <span class="hide" data-unit-price-group="">
                                            <dt>
                                                <span class="visually-hidden visually-hidden--inline">Enhetspris</span>
                                            </dt>
                                            <dd>
                                                <span class="price-unit-price">
                                                    <span data-unit-price="">0 kr</span>
                                                    <span aria-hidden="true">/</span>
                                                    <span class="visually-hidden">per&nbsp;</span>
                                                    <span data-unit-price-base-unit=""></span>
                                                </span>
                                            </dd>
                                        </span>
                                    </h5>


                                </div>
                            </div>
                            <div class="ajaxcart__qty tw-float-right">
                                <button class="ajaxcart__qty-adjust ajaxcart__qty--minus quantity-increment" data-id="" data-line="1" data-qty="2" type="button">
                                    <span>−</span>
                                </button>
                                <input aria-label="quantity" class="ajaxcart__qty-num" data-id="" data-line="1" min="0" name="updates[]" pattern="[0-9]*" type="text" value="3">
                                <button class="ajaxcart__qty-adjust ajaxcart__qty--plus quantity-increment" data-id="" data-line="1" data-qty="4" type="button">
                                    <span>+</span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="ajaxcart__product tw-mb-6">
                    <div class="tw-flex ajaxcart tw-gap-3" data-line="2">

                        <div class="grid__item desktop-5 tablet-2 mobile-3 item_img tw-w-1/3 tw-relative tw-flex-shrink-0">
                            <a class="ajaxcart__product-image " href="/no-no/products/replica-wishbone-y-chair-hans-wegner?variant=40837291868346">
                                <img alt="" class="tw-absolute tw-inset-0 tw-w-full tw-h-full tw-object-contain" src="https://cdn.shopify.com/s/files/1/0563/0938/3354/products/wishbone_soaped_oak_01_1_8b9a78dd-491a-4e10-aeaa-0409953b0105_medium.png?v=1645785657"></a>

                        </div>

                        <div class="tw-flex-1">
                            <div class="item_dtl tw-text-right">
                                <p>
                                    <a class="ajaxcart__product-name" href="/no-no/products/replica-wishbone-y-chair-hans-wegner?variant=40837291868346">
                                        <b>Wishbone (y) stol - CH24</b>
                                    </a>

                                </p>
                                <p class="ajaxcart__product-meta">Special Edition / Oak - Oiled</p>


                                <p></p>
                                <div class="pricing">
                                    <h5>

                                        <span class="ajaxcart__price money">3.324,00 kr</span>

                                        <span class="hide" data-unit-price-group="">
                                            <dt>
                                                <span class="visually-hidden visually-hidden--inline">Enhetspris</span>
                                            </dt>
                                            <dd>
                                                <span class="price-unit-price">
                                                    <span data-unit-price="">0 kr</span>
                                                    <span aria-hidden="true">/</span>
                                                    <span class="visually-hidden">per&nbsp;</span>
                                                    <span data-unit-price-base-unit=""></span>
                                                </span>
                                            </dd>
                                        </span>
                                    </h5>


                                </div>
                            </div>
                            <div class="ajaxcart__qty tw-float-right">
                                <button class="ajaxcart__qty-adjust ajaxcart__qty--minus quantity-increment" data-id="" data-line="2" data-qty="0" type="button">
                                    <span>−</span>
                                </button>
                                <input aria-label="quantity" class="ajaxcart__qty-num" data-id="" data-line="2" min="0" name="updates[]" pattern="[0-9]*" type="text" value="1">
                                <button class="ajaxcart__qty-adjust ajaxcart__qty--plus quantity-increment" data-id="" data-line="2" data-qty="2" type="button">
                                    <span>+</span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="ajaxcart__product tw-mb-6">
                    <div class="tw-flex ajaxcart tw-gap-3" data-line="3">

                        <div class="grid__item desktop-5 tablet-2 mobile-3 item_img tw-w-1/3 tw-relative tw-flex-shrink-0">
                            <a class="ajaxcart__product-image " href="/no-no/products/replica-wishbone-y-chair-hans-wegner?variant=40837291507898">
                                <img alt="" class="tw-absolute tw-inset-0 tw-w-full tw-h-full tw-object-contain" src="https://cdn.shopify.com/s/files/1/0563/0938/3354/products/wishbone_soaped_oak_01_1_8b9a78dd-491a-4e10-aeaa-0409953b0105_medium.png?v=1645785657"></a>

                        </div>

                        <div class="tw-flex-1">
                            <div class="item_dtl tw-text-right">
                                <p>
                                    <a class="ajaxcart__product-name" href="/no-no/products/replica-wishbone-y-chair-hans-wegner?variant=40837291507898">
                                        <b>Wishbone (y) stol - CH24</b>
                                    </a>

                                </p>
                                <p class="ajaxcart__product-meta">Beech / Black</p>


                                <p></p>
                                <div class="pricing">
                                    <h5>

                                        <span class="ajaxcart__price money">1.992,00 kr</span>

                                        <span class="hide" data-unit-price-group="">
                                            <dt>
                                                <span class="visually-hidden visually-hidden--inline">Enhetspris</span>
                                            </dt>
                                            <dd>
                                                <span class="price-unit-price">
                                                    <span data-unit-price="">0 kr</span>
                                                    <span aria-hidden="true">/</span>
                                                    <span class="visually-hidden">per&nbsp;</span>
                                                    <span data-unit-price-base-unit=""></span>
                                                </span>
                                            </dd>
                                        </span>
                                    </h5>


                                </div>
                            </div>
                            <div class="ajaxcart__qty tw-float-right">
                                <button class="ajaxcart__qty-adjust ajaxcart__qty--minus quantity-increment" data-id="" data-line="3" data-qty="0" type="button">
                                    <span>−</span>
                                </button>
                                <input aria-label="quantity" class="ajaxcart__qty-num" data-id="" data-line="3" min="0" name="updates[]" pattern="[0-9]*" type="text" value="1">
                                <button class="ajaxcart__qty-adjust ajaxcart__qty--plus quantity-increment" data-id="" data-line="3" data-qty="2" type="button">
                                    <span>+</span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="ajaxcart__product tw-mb-6">
                    <div class="tw-flex ajaxcart tw-gap-3" data-line="4">

                        <div class="grid__item desktop-5 tablet-2 mobile-3 item_img tw-w-1/3 tw-relative tw-flex-shrink-0">
                            <a class="ajaxcart__product-image " href="/no-no/products/replica-wishbone-y-chair-hans-wegner?variant=40837291638970">
                                <img alt="" class="tw-absolute tw-inset-0 tw-w-full tw-h-full tw-object-contain" src="https://cdn.shopify.com/s/files/1/0563/0938/3354/products/wishbone_soaped_oak_01_1_8b9a78dd-491a-4e10-aeaa-0409953b0105_medium.png?v=1645785657"></a>

                        </div>

                        <div class="tw-flex-1">
                            <div class="item_dtl tw-text-right">
                                <p>
                                    <a class="ajaxcart__product-name" href="/no-no/products/replica-wishbone-y-chair-hans-wegner?variant=40837291638970">
                                        <b>Wishbone (y) stol - CH24</b>
                                    </a>

                                </p>
                                <p class="ajaxcart__product-meta">Oak / Black</p>


                                <p></p>
                                <div class="pricing">
                                    <h5>

                                        <span class="ajaxcart__price money">3.257,00 kr</span>

                                        <span class="hide" data-unit-price-group="">
                                            <dt>
                                                <span class="visually-hidden visually-hidden--inline">Enhetspris</span>
                                            </dt>
                                            <dd>
                                                <span class="price-unit-price">
                                                    <span data-unit-price="">0 kr</span>
                                                    <span aria-hidden="true">/</span>
                                                    <span class="visually-hidden">per&nbsp;</span>
                                                    <span data-unit-price-base-unit=""></span>
                                                </span>
                                            </dd>
                                        </span>
                                    </h5>


                                </div>
                            </div>
                            <div class="ajaxcart__qty tw-float-right">
                                <button class="ajaxcart__qty-adjust ajaxcart__qty--minus quantity-increment" data-id="" data-line="4" data-qty="0" type="button">
                                    <span>−</span>
                                </button>
                                <input aria-label="quantity" class="ajaxcart__qty-num" data-id="" data-line="4" min="0" name="updates[]" pattern="[0-9]*" type="text" value="1">
                                <button class="ajaxcart__qty-adjust ajaxcart__qty--plus quantity-increment" data-id="" data-line="4" data-qty="2" type="button">
                                    <span>+</span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="ajaxcart__product tw-mb-6">
                    <div class="tw-flex ajaxcart tw-gap-3" data-line="5">

                        <div class="grid__item desktop-5 tablet-2 mobile-3 item_img tw-w-1/3 tw-relative tw-flex-shrink-0">
                            <a class="ajaxcart__product-image " href="/no-no/products/replica-wishbone-y-chair-hans-wegner?variant=40837291770042">
                                <img alt="" class="tw-absolute tw-inset-0 tw-w-full tw-h-full tw-object-contain" src="https://cdn.shopify.com/s/files/1/0563/0938/3354/products/wishbone_soaped_oak_01_1_8b9a78dd-491a-4e10-aeaa-0409953b0105_medium.png?v=1645785657"></a>

                        </div>

                        <div class="tw-flex-1">
                            <div class="item_dtl tw-text-right">
                                <p>
                                    <a class="ajaxcart__product-name" href="/no-no/products/replica-wishbone-y-chair-hans-wegner?variant=40837291770042">
                                        <b>Wishbone (y) stol - CH24</b>
                                    </a>

                                </p>
                                <p class="ajaxcart__product-meta">Walnut Stain / Black</p>


                                <p></p>
                                <div class="pricing">
                                    <h5>

                                        <span class="ajaxcart__price money">1.992,00 kr</span>

                                        <span class="hide" data-unit-price-group="">
                                            <dt>
                                                <span class="visually-hidden visually-hidden--inline">Enhetspris</span>
                                            </dt>
                                            <dd>
                                                <span class="price-unit-price">
                                                    <span data-unit-price="">0 kr</span>
                                                    <span aria-hidden="true">/</span>
                                                    <span class="visually-hidden">per&nbsp;</span>
                                                    <span data-unit-price-base-unit=""></span>
                                                </span>
                                            </dd>
                                        </span>
                                    </h5>


                                </div>
                            </div>
                            <div class="ajaxcart__qty tw-float-right">
                                <button class="ajaxcart__qty-adjust ajaxcart__qty--minus quantity-increment" data-id="" data-line="5" data-qty="0" type="button">
                                    <span>−</span>
                                </button>
                                <input aria-label="quantity" class="ajaxcart__qty-num" data-id="" data-line="5" min="0" name="updates[]" pattern="[0-9]*" type="text" value="1">
                                <button class="ajaxcart__qty-adjust ajaxcart__qty--plus quantity-increment" data-id="" data-line="5" data-qty="2" type="button">
                                    <span>+</span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="ajaxcart__product tw-mb-6">
                    <div class="tw-flex ajaxcart tw-gap-3" data-line="6">

                        <div class="grid__item desktop-5 tablet-2 mobile-3 item_img tw-w-1/3 tw-relative tw-flex-shrink-0">
                            <a class="ajaxcart__product-image " href="/no-no/products/replica-2212-two-seater-sofa?variant=40837316903098">
                                <img alt="" class="tw-absolute tw-inset-0 tw-w-full tw-h-full tw-object-contain" src="https://cdn.shopify.com/s/files/1/0563/0938/3354/products/5aa00b487508e_medium.png?v=1645790101"></a>

                        </div>

                        <div class="tw-flex-1">
                            <div class="item_dtl tw-text-right">
                                <p>
                                    <a class="ajaxcart__product-name" href="/no-no/products/replica-2212-two-seater-sofa?variant=40837316903098">
                                        <b>2212 To seters sofa</b>
                                    </a>

                                </p>
                                <p class="ajaxcart__product-meta">Premium Leather / Caramel Aniline</p>


                                <p></p>
                                <div class="pricing">
                                    <h5>

                                        <span class="ajaxcart__price money">25.328,00 kr</span>

                                        <span class="hide" data-unit-price-group="">
                                            <dt>
                                                <span class="visually-hidden visually-hidden--inline">Enhetspris</span>
                                            </dt>
                                            <dd>
                                                <span class="price-unit-price">
                                                    <span data-unit-price="">0 kr</span>
                                                    <span aria-hidden="true">/</span>
                                                    <span class="visually-hidden">per&nbsp;</span>
                                                    <span data-unit-price-base-unit=""></span>
                                                </span>
                                            </dd>
                                        </span>
                                    </h5>


                                </div>
                            </div>
                            <div class="ajaxcart__qty tw-float-right">
                                <button class="ajaxcart__qty-adjust ajaxcart__qty--minus quantity-increment" data-id="" data-line="6" data-qty="0" type="button">
                                    <span>−</span>
                                </button>
                                <input aria-label="quantity" class="ajaxcart__qty-num" data-id="" data-line="6" min="0" name="updates[]" pattern="[0-9]*" type="text" value="1">
                                <button class="ajaxcart__qty-adjust ajaxcart__qty--plus quantity-increment" data-id="" data-line="6" data-qty="2" type="button">
                                    <span>+</span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="ajaxcart__product tw-mb-6">
                    <div class="tw-flex ajaxcart tw-gap-3" data-line="7">

                        <div class="grid__item desktop-5 tablet-2 mobile-3 item_img tw-w-1/3 tw-relative tw-flex-shrink-0">
                            <a class="ajaxcart__product-image " href="/no-no/products/replica-2332-two-seater-sofa?variant=40837317656762">
                                <img alt="" class="tw-absolute tw-inset-0 tw-w-full tw-h-full tw-object-contain" src="https://cdn.shopify.com/s/files/1/0563/0938/3354/products/mg_1208_sa_e_u__1_1_05d59550-61cf-49aa-9df6-a79c25df3c1c_medium.png?v=1645790235"></a>

                        </div>

                        <div class="tw-flex-1">
                            <div class="item_dtl tw-text-right">
                                <p>
                                    <a class="ajaxcart__product-name" href="/no-no/products/replica-2332-two-seater-sofa?variant=40837317656762">
                                        <b>2332 To seters sofa</b>
                                    </a>

                                </p>
                                <p class="ajaxcart__product-meta">Premium Leather / Mocha</p>


                                <p></p>
                                <div class="pricing">
                                    <h5>

                                        <span class="ajaxcart__price money">32.441,00 kr</span>

                                        <span class="hide" data-unit-price-group="">
                                            <dt>
                                                <span class="visually-hidden visually-hidden--inline">Enhetspris</span>
                                            </dt>
                                            <dd>
                                                <span class="price-unit-price">
                                                    <span data-unit-price="">0 kr</span>
                                                    <span aria-hidden="true">/</span>
                                                    <span class="visually-hidden">per&nbsp;</span>
                                                    <span data-unit-price-base-unit=""></span>
                                                </span>
                                            </dd>
                                        </span>
                                    </h5>


                                </div>
                            </div>
                            <div class="ajaxcart__qty tw-float-right">
                                <button class="ajaxcart__qty-adjust ajaxcart__qty--minus quantity-increment" data-id="" data-line="7" data-qty="0" type="button">
                                    <span>−</span>
                                </button>
                                <input aria-label="quantity" class="ajaxcart__qty-num" data-id="" data-line="7" min="0" name="updates[]" pattern="[0-9]*" type="text" value="1">
                                <button class="ajaxcart__qty-adjust ajaxcart__qty--plus quantity-increment" data-id="" data-line="7" data-qty="2" type="button">
                                    <span>+</span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="ajaxcart__product tw-mb-6">
                    <div class="tw-flex ajaxcart tw-gap-3" data-line="8">

                        <div class="grid__item desktop-5 tablet-2 mobile-3 item_img tw-w-1/3 tw-relative tw-flex-shrink-0">
                            <a class="ajaxcart__product-image " href="/no-no/products/replica-2332-two-seater-sofa?variant=40837317623994">
                                <img alt="" class="tw-absolute tw-inset-0 tw-w-full tw-h-full tw-object-contain" src="https://cdn.shopify.com/s/files/1/0563/0938/3354/products/mg_1208_sa_e_u__1_1_05d59550-61cf-49aa-9df6-a79c25df3c1c_medium.png?v=1645790235"></a>

                        </div>

                        <div class="tw-flex-1">
                            <div class="item_dtl tw-text-right">
                                <p>
                                    <a class="ajaxcart__product-name" href="/no-no/products/replica-2332-two-seater-sofa?variant=40837317623994">
                                        <b>2332 To seters sofa</b>
                                    </a>

                                </p>
                                <p class="ajaxcart__product-meta">Premium Leather / Black</p>


                                <p></p>
                                <div class="pricing">
                                    <h5>

                                        <span class="ajaxcart__price money">32.441,00 kr</span>

                                        <span class="hide" data-unit-price-group="">
                                            <dt>
                                                <span class="visually-hidden visually-hidden--inline">Enhetspris</span>
                                            </dt>
                                            <dd>
                                                <span class="price-unit-price">
                                                    <span data-unit-price="">0 kr</span>
                                                    <span aria-hidden="true">/</span>
                                                    <span class="visually-hidden">per&nbsp;</span>
                                                    <span data-unit-price-base-unit=""></span>
                                                </span>
                                            </dd>
                                        </span>
                                    </h5>


                                </div>
                            </div>
                            <div class="ajaxcart__qty tw-float-right">
                                <button class="ajaxcart__qty-adjust ajaxcart__qty--minus quantity-increment" data-id="" data-line="8" data-qty="0" type="button">
                                    <span>−</span>
                                </button>
                                <input aria-label="quantity" class="ajaxcart__qty-num" data-id="" data-line="8" min="0" name="updates[]" pattern="[0-9]*" type="text" value="1">
                                <button class="ajaxcart__qty-adjust ajaxcart__qty--plus quantity-increment" data-id="" data-line="8" data-qty="2" type="button">
                                    <span>+</span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="ajaxcart__product tw-mb-6">
                    <div class="tw-flex ajaxcart tw-gap-3" data-line="9">

                        <div class="grid__item desktop-5 tablet-2 mobile-3 item_img tw-w-1/3 tw-relative tw-flex-shrink-0">
                            <a class="ajaxcart__product-image " href="/no-no/products/replica-2332-two-seater-sofa?variant=40837317591226">
                                <img alt="" class="tw-absolute tw-inset-0 tw-w-full tw-h-full tw-object-contain" src="https://cdn.shopify.com/s/files/1/0563/0938/3354/products/mg_1208_sa_e_u__1_1_05d59550-61cf-49aa-9df6-a79c25df3c1c_medium.png?v=1645790235"></a>

                        </div>

                        <div class="tw-flex-1">
                            <div class="item_dtl tw-text-right">
                                <p>
                                    <a class="ajaxcart__product-name" href="/no-no/products/replica-2332-two-seater-sofa?variant=40837317591226">
                                        <b>2332 To seters sofa</b>
                                    </a>

                                </p>
                                <p class="ajaxcart__product-meta">Italian Leather / Black</p>


                                <p></p>
                                <div class="pricing">
                                    <h5>

                                        <span class="ajaxcart__price money">22.771,00 kr</span>

                                        <span class="hide" data-unit-price-group="">
                                            <dt>
                                                <span class="visually-hidden visually-hidden--inline">Enhetspris</span>
                                            </dt>
                                            <dd>
                                                <span class="price-unit-price">
                                                    <span data-unit-price="">0 kr</span>
                                                    <span aria-hidden="true">/</span>
                                                    <span class="visually-hidden">per&nbsp;</span>
                                                    <span data-unit-price-base-unit=""></span>
                                                </span>
                                            </dd>
                                        </span>
                                    </h5>


                                </div>
                            </div>
                            <div class="ajaxcart__qty tw-float-right">
                                <button class="ajaxcart__qty-adjust ajaxcart__qty--minus quantity-increment" data-id="" data-line="9" data-qty="0" type="button">
                                    <span>−</span>
                                </button>
                                <input aria-label="quantity" class="ajaxcart__qty-num" data-id="" data-line="9" min="0" name="updates[]" pattern="[0-9]*" type="text" value="1">
                                <button class="ajaxcart__qty-adjust ajaxcart__qty--plus quantity-increment" data-id="" data-line="9" data-qty="2" type="button">
                                    <span>+</span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="rte-accordion tw-mt-6">

                    <div class="item" id="cart-notes">
                        <input class="trigger" id="item-one" name="items" type="checkbox">
                        <label class="accordion-label" for="item-one">
                            <span class="item-heading">Bestill Spesielle Instruksjoner</span>
                        </label>
                        <div class="item-content">
                            <textarea cols="60" id="note" name="note" rows="5">sdfdsdsfdsf</textarea>
                        </div>
                    </div>

                </div>

            </div>
            <div class="ajaxcart__footer tw-pt-3 tw-border-t">
                <div class="subtotal">
                    <p class="title">Subtotal</p>
                    <p class="subtotal-price">
                        <span class="cart-original-total money">174.834,00 kr</span>
                    </p>
                </div>

                <div class="tax">
                    <p class="title">Skatt</p>
                    <p class="value">Beregnet ved kassen</p>
                </div>


                <div class="shipping">
                    <p class="title">Shipping</p>
                    <p class="value">Beregnet ved kassen</p>
                </div>

                <div class="discounts"></div>
                <div class="total">
                    <h3 class="title">Total</h3>
                    <h3 class="total-price">
                        <span class="cart-original-total money">174.834,00 kr</span>
                        <span class="cart-total"></span>
                    </h3>
                </div>

                <button class="cart__checkout tw-bg-black tw-text-white" name="checkout" type="submit">
                    utsjekking →
                </button>


            </div>
        </form>
    </div>
</div>