<div id="insta-feed"></div> 
{% schema %}
  {
    "name": "Featured Instagram Feed",
    "class": "index-section",
    "settings": [
      
	],
  "presets": [
	  {
      "name": "Featured Instagram Feed",
      "category": "Instagram"
    }
	]
  }
{% endschema %}